@import url(../../../common/css/style.css);
.h1 .tag-wrap {
  opacity: 0.8;
}

body {
  background: linear-gradient(0deg, #eee 2.02%, rgba(238, 238, 238, 0) 30.56%), #f5f5f5;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.con-1 {
  position: relative;
  height: 2552px;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.con-1 .img-1 {
  width: 1600px;
  height: 580px;
  background-image: url(../assets/img_con1_2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.con-1 .img {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.con-1 .img-1 {
  max-width: 1600px;
  width: 100%;
  height: 580px;
  background-image: url(../assets/img_con1_2.png);
  background-size: cover;
}
.con-1 .img-2 {
  bottom: -137px;
  right: 0;
  width: 726px;
  height: 594px;
  background-image: url(../assets/img_con1_3.png);
  background-size: cover;
}
.con-1 .logo-text {
  display: flex;
  margin-top: 1250px;
}
.con-1 .logo-text .logo {
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 1180px) {
  .con-1 .logo-text .logo {
    width: 25%;
  }
}
.con-1 .logo-text .text-wrap {
  width: 50%;
  padding-right: 40px;
}
@media (max-width: 1180px) {
  .con-1 .logo-text .text-wrap {
    width: 75%;
  }
}
.con-1 .logo-text .text-wrap .text-1 {
  margin-top: 30px;
  color: #fff;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.con-1 .logo-text .text-wrap .text-2 {
  margin-top: 18px;
  color: #fff;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  opacity: 0.8;
}

.con-2 {
  background: linear-gradient(0deg, #eee 2.02%, rgba(238, 238, 238, 0) 30.56%), #f5f5f5;
}
.con-2 .text-1 {
  margin-top: 40px;
  margin-left: 32px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
.con-2 .text-2 {
  margin-left: 260px;
  margin-top: 160px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
}
@media (max-width: 1180px) {
  .con-2 .text-2 {
    margin-left: 200px;
  }
}
.con-2 .text-2 .title {
  margin-bottom: 20px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.con-2 .text-2 span {
  position: relative;
}
.con-2 .text-2 span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 199px;
  height: 75px;
  background-image: url(../assets/img_con2_1.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.con-2 .img-wrap-1 {
  position: relative;
  max-width: 1714px;
  width: 100%;
  height: 1380px;
  margin: 0 auto;
  overflow: hidden;
}
.con-2 .img-wrap-1 .img-1 {
  width: 100%;
  margin-top: 493px;
  padding: 0 100px;
}
.con-2 .img-wrap-1 .img-1 img {
  max-width: 100%;
  width: 100%;
}
.con-2 .img-wrap-1 .img-2 {
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 811px;
}
.con-2 .img-wrap-1 .img-2 img {
  width: 100%;
}
.con-2 .img-wrap-2 {
  margin-top: 0px;
  overflow: hidden;
  padding-bottom: 200px;
}
.con-2 .img-wrap-2 .img-1 {
  margin-left: 0;
}
.con-2 .img-wrap-2 .img-1 img {
  max-width: 100%;
}
.con-2 .img-wrap-2 .img-2 {
  position: relative;
  width: 100%;
  margin-top: -280px;
}
@media (max-width: 1440px) {
  .con-2 .img-wrap-2 .img-2 {
    margin-top: -200px;
  }
}
@media (max-width: 1180px) {
  .con-2 .img-wrap-2 .img-2 {
    margin-top: -165px;
  }
}
.con-2 .img-wrap-2 .img-2 img {
  width: 100%;
}

.con-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 48px;
  background-image: url(../assets/img_con3_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (max-width: 1180px) {
  .con-3 {
    background-image: url(../assets/img_con3_1_md.png);
  }
}
.con-3::after {
  display: none;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  content: "";
}
.con-3 .title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;
}
.con-3 .item-wrap {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-top: 234px;
  margin-bottom: 300px;
}
@media (max-width: 1440px) {
  .con-3 .item-wrap {
    gap: 160px;
  }
}
@media (max-width: 1180px) {
  .con-3 .item-wrap {
    gap: 110px;
    margin-top: 150px;
    margin-bottom: 240px;
  }
}
.con-3 .item-wrap.on {
  pointer-events: none;
}
.con-3 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 67%;
}
.con-3 .item .text-1 {
  width: 26px;
}
.con-3 .item .text-1 img {
  width: 100%;
}
.con-3 .item .text-2 {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 60px */
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .con-3 .item .text-2 {
    font-size: 44px;
  }
}
.con-3 .item .text-3 {
  margin-top: 16px;
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
@media (max-width: 1440px) {
  .con-3 .item .text-3 {
    font-size: 16px;
  }
}

.con-4 {
  position: relative;
  height: 2600px;
  padding-top: 64px;
  text-align: center;
  background-image: url(../assets/img_con4_1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media (max-width: 1440px) {
  .con-4 {
    height: 1950px;
  }
}
.con-4 .img-1 {
  width: 100%;
  margin-top: 188px;
}
.con-4 .img-2 {
  position: relative;
  transform: translateY(-580px);
  z-index: 1;
  width: 1920px;
}
.con-4 .img-2 img {
  max-width: 100%;
}
@media (max-width: 1440px) {
  .con-4 .img-2 {
    transform: translateY(-500px);
    width: 1440px;
  }
}
.con-4 .box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40%;
}
@media (max-width: 1440px) {
  .con-4 .box {
    bottom: -45%;
  }
}
.con-4 .title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  text-transform: uppercase;
}
.con-4 .box-text {
  display: flex;
  justify-content: center;
  width: 741px;
  height: 741px;
  margin: 0 auto;
  padding-top: 175px;
  background-image: url(../assets/img_con4_3.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
}

.con-5 {
  padding-bottom: 220px;
  text-align: center;
}
@media (max-width: 1440px) {
  .con-5 {
    padding-bottom: 200px;
  }
}
.con-5 img {
  max-width: 100%;
}
.con-5 .img-1 {
  margin-bottom: 240px;
  text-align: right;
}
.con-5 .img-2 {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.con-5 .img-2 img {
  width: 408px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.15));
}
@media (max-width: 1440px) {
  .con-5 .img-2 {
    gap: 40px;
    padding: 0 220px;
  }
  .con-5 .img-2 img {
    width: 308px;
  }
}
@media (max-width: 1180px) {
  .con-5 .img-2 {
    padding: 0 130px;
  }
  .con-5 .img-2 img {
    width: 280px;
  }
}

.con-6 {
  overflow: hidden;
}
.con-6 img {
  max-width: 100%;
}
.con-6 .bottom {
  display: flex;
}
.con-6 .bottom img {
  width: 50%;
}/*# sourceMappingURL=style.css.map */