@import url(../../../common/css/style.css);
img {
  max-width: 100%;
}

body {
  font-family: "Noto Serif KR", sans-serif;
  font-weight: 400;
  transition: all 2s;
  background: #111;
  color: #fff;
}

.h1 h1 {
  font-family: "Noto Serif KR", sans-serif;
}
.h1 .tag-wrap {
  opacity: 0.8;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.section-title-1 .text-1 {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
  opacity: 0.7;
}
.section-title-1 .text-2 {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 72px */
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

.section-title-2 .text-1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
  text-transform: uppercase;
}
.section-title-2 .text-2 {
  color: #fff;
  text-align: center;
  font-family: Noto Serif KR;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 72px */
  text-transform: capitalize;
}
.section-title-2 .text-3 {
  margin-top: 32px;
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%; /* 25.28px */
  letter-spacing: -0.5px;
  text-transform: uppercase;
  opacity: 0.6;
}

.bullet {
  position: relative;
}
.bullet::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
  content: "";
}
.bullet-1::after {
  width: 259px;
  height: 89px;
  background-image: url(../assets/bullet_1.png);
}
.bullet-2::after {
  width: 180px;
  height: 91px;
  background-image: url(../assets/bullet_2.png);
}
.bullet-3::after {
  width: 102px;
  height: 64px;
  background-image: url(../assets/bullet_3.png);
}

.con-1 {
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-1 .img {
  width: 360px;
  margin: 90px auto 0;
}

.con-2 {
  margin-top: -280px;
  padding-top: 470px;
  padding-bottom: 240px;
  background: #f0efea;
}
.con-2 .img {
  max-width: 209px;
  margin: 0 auto;
}
.con-2 .text-1 {
  margin-top: 32px;
  color: #000;
  text-align: center;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%; /* 25.28px */
  letter-spacing: -0.5px;
  text-transform: uppercase;
  opacity: 0.7;
}

.con-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 450px 0;
  background: #27423e;
}
.con-3 .img {
  width: 332px;
}

.con-4 {
  height: 900px;
  padding-top: 290px;
  background-image: url(../assets/img_con1_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-4 .inner {
  width: 620px;
  margin: 0 auto;
}
.con-4 .text-1 {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 28px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.4;
}
.con-4 .text-2 {
  margin-top: 4px;
  color: #fff;
  font-family: SUIT;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
  letter-spacing: -0.3px;
}
.con-4 .text-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.con-4 .text-4 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.con-4 .text-4 li {
  display: flex;
  gap: 22px;
}
.con-4 .text-4 span:nth-child(1) {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 32px */
  text-transform: uppercase;
  opacity: 0.5;
}
.con-4 .text-4 span:nth-child(2) {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
  opacity: 0.8;
}

.con-5 {
  padding-top: 230px;
  text-align: center;
}
.con-5 .sm-br {
  display: none;
}
@media (max-width: 1180px) {
  .con-5 .sm-br {
    display: block;
  }
}
@media (max-width: 1180px) {
  .con-5 .sm-visible {
    display: none;
  }
}
@media (max-width: 1440px) {
  .con-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.con-5 .text-1 {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 28px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.4;
}
.con-5 .text-2 {
  margin-top: 48px;
  color: #fff;
  text-align: center;
  font-family: Noto Serif KR;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.con-5 .box:nth-child(2) {
  margin-top: 80px;
}
@media (max-width: 1180px) {
  .con-5 .box:nth-child(2) {
    margin-top: 0;
  }
}
.con-5 .box .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  margin-top: 16px;
  border-radius: 4px;
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  font-family: Noto Serif KR;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
}
.con-5 .box .inner.round {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
}
.con-5 .box .inner .td-ud {
  border-bottom: 1px solid #fff;
}
@media (max-width: 1440px) {
  .con-5 .box .inner {
    width: 540px;
    height: 540px;
  }
}
@media (max-width: 1180px) {
  .con-5 .box .inner {
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 70px 0;
  }
}
.con-5 .box .text-1 {
  text-align: left;
}
@media (max-width: 1440px) {
  .con-5 .box .text-1 {
    text-align: center;
  }
}
@media (max-width: 1180px) {
  .con-5 .box .text-1 {
    margin-bottom: 32px;
  }
}
.con-5 .box-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 390px;
  margin-bottom: 300px;
}
@media (max-width: 1180px) {
  .con-5 .box-wrap {
    flex-direction: column;
    gap: 10px;
    margin-top: 260px;
  }
}
.con-5 .img {
  margin-top: 48px;
}

.con-6 {
  padding-top: 190px;
  background-image: url(../assets/img_con6_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1440px) {
  .con-6 {
    background-color: #000;
    background-image: url(../assets/img_con6_1_t.png);
    background-position: 0 0;
    background-size: contain;
  }
}
.con-6 .inner {
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .con-6 .inner {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
}
.con-6 .box {
  width: 640px;
  height: 500px;
  padding: 32px;
  border: 1px solid #222;
}
@media (max-width: 1440px) {
  .con-6 .box {
    width: 50%;
  }
}
.con-6 .box-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  margin-left: auto;
  margin-top: 120px;
}
@media (max-width: 1440px) {
  .con-6 .box-wrap {
    width: 100%;
    margin-top: 380px;
  }
}
.con-6 .box .text-1 {
  margin-bottom: 88px;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  text-transform: uppercase;
  opacity: 0.4;
}
@media (max-width: 1440px) {
  .con-6 .box .text-1 {
    opacity: 0.7;
  }
}
.con-6 .box .text-2 {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 36.4px */
  text-transform: uppercase;
  opacity: 0.8;
}
.con-6 .box .text-3 {
  margin-top: 16px;
  color: #fff;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.4;
}
.con-6 .box .text-4 {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 28px */
  text-transform: uppercase;
}
.con-6 .box .text-4.mt {
  margin-top: 64px;
}
.con-6 .box .text-4 span {
  margin-left: 6px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 20px */
  text-transform: uppercase;
}

.con-7 {
  padding-top: 140px;
  transition: all 2s;
}
@media (max-width: 1440px) {
  .con-7 {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.con-7 .top {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .con-7 .top {
    flex-direction: column;
    width: 100%;
  }
}
.con-7 .top .text-3 {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.4;
}
@media (max-width: 1440px) {
  .con-7 .top .text-3 {
    margin-top: 32px;
  }
}
.con-7 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  width: 352px;
  height: 352px;
  padding-bottom: 30px;
  background-color: rgb(35, 57, 54);
  border-radius: 50%;
}
@media (max-width: 1440px) {
  .con-7 .circle {
    width: 294px;
    height: 294px;
  }
}
.con-7 .circle-wrap {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.con-7 .circle-inner {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 24px;
  border-radius: 207.5px;
  border: 2px solid rgba(30, 47, 45, 0.4);
}
.con-7 .circle .text-1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 32px */
  text-transform: uppercase;
  opacity: 0.3;
}
.con-7 .circle .text-2 {
  color: #fff;
  text-align: center;
  font-family: Noto Serif KR;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
  opacity: 0.8;
}
.con-7 .img-1 {
  margin: 50px 0 90px;
  text-align: center;
}
.con-7 .img-2 {
  width: 373px;
  margin: 0 auto;
}

.con-8 {
  margin-top: -340px;
  padding-top: 650px;
  padding-bottom: 220px;
  transition: all 2s;
}
.con-8 .img-wrap {
  display: flex;
  -moz-column-gap: 120px;
       column-gap: 120px;
  flex-wrap: wrap;
  width: 1080px;
  margin: 140px auto 0;
}
@media (max-width: 1440px) {
  .con-8 .img-wrap {
    -moz-column-gap: 70px;
         column-gap: 70px;
    justify-content: center;
  }
}
.con-8 .img-wrap .img {
  display: flex;
  flex-direction: column;
  gap: 180px;
}
.con-8 .img-wrap .img:nth-child(2) {
  margin-top: 280px;
}
.con-8 .img-wrap .img:nth-child(3) {
  margin-top: 560px;
}
.con-8 .img-wrap img {
  width: 280px;
}

.con-9 {
  display: flex;
}
.con-9 .img {
  width: 50%;
  overflow: hidden;
}

.con-10 {
  padding-top: 170px;
  background-color: rgb(229, 225, 222);
}
.con-10 .section-title-2 .text-1 {
  color: #000;
}
.con-10 .section-title-2 .text-2 {
  color: #000;
}
.con-10 .section-title-2 .text-3 {
  color: #000;
}
.con-10 .img-1 {
  margin-top: 130px;
}
.con-10 .img-2 {
  width: 1490px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .con-10 .img-2 {
    width: 1013px;
    margin: 0 auto;
  }
  .con-10 .img-2 img:nth-child(3) {
    width: 715px;
    margin-left: auto;
    margin-top: -100px;
  }
}

.con-11 {
  padding-top: 170px;
  background-color: rgb(39, 66, 62);
}
.con-11 .box {
  width: 50%;
  padding: 40px;
  border: 1px solid rgba(229, 225, 222, 0.1);
}
.con-11 .box .text-1 {
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .con-11 .box .text-1 {
    text-align: left;
  }
}
.con-11 .box .text-2 {
  color: #fff;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.6;
}
@media (max-width: 1440px) {
  .con-11 .box .text-2 {
    margin-top: 12px;
  }
}
.con-11 .box .img {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
}
.con-11 .box .text-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1440px) {
  .con-11 .box .text-wrap {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.con-11 .box-wrap {
  display: flex;
  margin-top: 140px;
}

.con-12 {
  display: flex;
}
@media (max-width: 1440px) {
  .con-12 {
    flex-direction: column;
  }
}
.con-12 > div {
  width: 50%;
}
@media (max-width: 1440px) {
  .con-12 > div {
    width: 100%;
  }
}
.con-12 .box-img {
  overflow: hidden;
}
.con-12 .box-img .inner {
  position: relative;
  height: 100%;
  padding: 160px 80px;
  background-image: url(../assets/img_con12_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1440px) {
  .con-12 .box-img .inner {
    height: 1320px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
.con-12 .box-img .text-1 {
  position: absolute;
  top: 32px;
  left: 32px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
  opacity: 0.7;
}
.con-12 .box-img .text-2 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Serif KR;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 90px */
  text-transform: lowercase;
}
.con-12 .box-img .text-3 {
  margin-top: 24px;
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%; /* 34.76px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.8;
}
.con-12 .box-text {
  background: #1b1b1b;
  padding-left: 80px;
  padding-right: 110px;
  padding-top: 430px;
  padding-bottom: 160px;
}
@media (max-width: 1440px) {
  .con-12 .box-text {
    padding-top: 80px;
    padding-left: 48px;
    padding-bottom: 200px;
    padding-right: 48px;
  }
}
.con-12 .box-text .text-wrap {
  display: flex;
  margin-top: 34px;
  padding-top: 18px;
  border-top: 1px solid rgba(229, 225, 222, 0.3);
}
.con-12 .box-text .text-4 {
  display: flex;
  gap: 10px;
  min-width: 270px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
  text-transform: lowercase;
  opacity: 0.6;
}
.con-12 .box-text .text-5 {
  color: #fff;
  font-family: Noto Serif KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 148%; /* 41.44px */
  letter-spacing: -0.3px;
}

.con-13 {
  padding: 108px 0 110px;
  text-align: center;
}
.con-13 .text-1 {
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
  text-transform: capitalize;
}
.con-13 .text-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 65px;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  opacity: 0.6;
}
.con-13 .text-2 a {
  text-decoration: underline;
}
.con-13 .text-3 {
  margin-top: 100px;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  opacity: 0.3;
}

.con-14 {
  padding: 140px 0;
  transition: all 2s;
  background: #f0efea;
}
@media (max-width: 1440px) {
  .con-14 {
    padding-bottom: 0;
  }
}
.con-14 .top {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .con-14 .top {
    flex-direction: column;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
}
.con-14 .top .section-title-1 {
  width: 50%;
}
.con-14 .top .section-title-1 .text-1 {
  color: #000;
}
.con-14 .top .section-title-1 .text-2 {
  color: #000;
}
.con-14 .top .text-3 {
  color: #222;
  font-family: Noto Serif KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 34.76px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .con-14 .top .text-3 {
    margin-top: 32px;
  }
}
.con-14 .img {
  position: relative;
  max-width: 1420px;
  width: 100%;
  margin: 120px auto 0;
}
@media (max-width: 1440px) {
  .con-14 .img {
    margin-top: 140px;
  }
}
.con-14 .img .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.con-15 {
  background: #27423e;
  transition: all 2s;
}
.con-15.on {
  background: #212120;
}

.only-tablet {
  display: none;
}

@media (max-width: 1440px) {
  .only-pc {
    display: none;
  }
  .only-tablet {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */