@import url(../../../common/css/style.css);
body {
  font-family: "Poppins", "SUITE", sans-serif;
  font-weight: 400;
  background: linear-gradient(0deg, #eee 2.02%, rgba(238, 238, 238, 0) 30.56%), #f5f5f5;
  word-break: keep-all;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.con-1 {
  position: relative;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: left 43% top 120px;
  background-size: 760px;
  background-color: #424d59;
}
.con-1 .img {
  background-repeat: no-repeat;
  background-position: 0 0;
}
.con-1 .img-1 {
  aspect-ratio: 320/360;
  width: 320px;
  background-image: url(../assets/img_con1_2.png);
  background-position: 0 0;
  background-size: cover;
}
.con-1 .img-2 {
  position: absolute;
  right: 0;
  bottom: -80px;
  right: 0;
  width: 250px;
  aspect-ratio: 726/594;
  background-image: url(../assets/img_con1_3.png);
  background-size: cover;
}
.con-1 .logo-text {
  display: flex;
  flex-direction: column;
  margin-top: 430px;
  margin-bottom: 115px;
}
.con-1 .logo-text .logo {
  width: 116px;
  margin-left: 10px;
  margin-bottom: 44px;
}
.con-1 .logo-text .logo img {
  width: 100%;
}
.con-1 .logo-text .text-wrap {
  padding: 0 20px;
}
.con-1 .logo-text .text-wrap .text-1 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  text-transform: lowercase;
}
.con-1 .logo-text .text-wrap .text-2 {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  opacity: 0.5;
}

.con-2 {
  padding-bottom: 340px;
  overflow: hidden;
}
.con-2 .text-1 {
  margin-top: 110px;
  margin-right: 20px;
  color: #000;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  text-transform: uppercase;
}
.con-2 .text-2 {
  margin: 130px 20px 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}
.con-2 .text-2 .title {
  margin-bottom: 18px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  text-transform: uppercase;
}
.con-2 .text-2 span {
  position: relative;
}
.con-2 .text-2 span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 34px;
  background-image: url(../assets/img_con2_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}
.con-2 .img-wrap-1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.con-2 .img-wrap-1 .img-1 {
  width: 100%;
  margin-top: 273px;
  padding: 0 20px;
}
.con-2 .img-wrap-1 .img-1 img {
  max-width: 100%;
  width: 100%;
}
.con-2 .img-wrap-1 .img-2 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-45%, -43%);
  width: 520px;
}
.con-2 .img-wrap-1 .img-2 img {
  width: 100%;
}
.con-2 .img-wrap-2 {
  position: relative;
}
.con-2 .img-wrap-2 .img-1 {
  margin: 390px 20px 0;
}
.con-2 .img-wrap-2 .img-1 img {
  max-width: 100%;
}
.con-2 .img-wrap-2 .img-2 {
  position: absolute;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.con-2 .img-wrap-2 .img-2 img {
  width: 100%;
}

.con-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 814px;
  height: 100vh;
  padding-top: 20px;
  background-image: url(../assets/img_con3_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.con-3::after {
  display: none;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  content: "";
}
.con-3 .title {
  margin-bottom: 98px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  text-transform: uppercase;
}
.con-3 .swiper {
  flex: 1;
}
.con-3 .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.con-3 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 67%;
}
.con-3 .swiper-slide .text-1 {
  width: 20px;
}
.con-3 .swiper-slide .text-1 img {
  width: 100%;
}
.con-3 .swiper-slide .text-2 {
  margin-top: 16px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 24.2px */
  text-transform: uppercase;
}
.con-3 .swiper-slide .text-3 {
  margin-top: 12px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  opacity: 0.6;
}

.con-4 {
  position: relative;
  padding-top: 20px;
  height: 460vw;
  padding-bottom: 60px;
  text-align: center;
  background-color: #0d1932;
  background-image: url(../assets/img_con4_1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.con-4 .img-1 {
  width: 100%;
  margin-top: 75px;
}
.con-4 .img-2 {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 100%;
}
.con-4 .title {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  text-transform: uppercase;
}
.con-4 .box-text {
  display: flex;
  justify-content: center;
  max-width: 238px;
  width: 100%;
  height: 238px;
  margin: 280px auto 0;
  padding-top: 50px;
  background-image: url(../assets/img_con4_3.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
}

.con-5 {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}
.con-5 img {
  max-width: 100%;
}
.con-5 .img-1 {
  margin-bottom: 70px;
  padding: 0 20px;
  text-align: right;
}
.con-5 .img-2 {
  margin: 0 20px;
}
.con-5 .img-2 img {
  width: 100%;
}

.con-6 {
  overflow: hidden;
}
.con-6 img {
  max-width: 100%;
}
.con-6 .bottom {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */