@import url(../../../common/css/style.css);

@mixin md {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 1180px) {
    @content;
  }
}
img {
  max-width: 100%;
}
body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  transition: all 2s;
  background: #fffef6;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.con-1 {
  height: 620px;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-2 {
  padding: 40px 20px 100px;
  .img {
    width: 33px;
  }
  .text-1 {
    margin-top: 12px;
    color: #4f270e;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 27.28px */
    letter-spacing: -0.3px;
    text-transform: capitalize;
  }
  .text-2 {
    margin-top: 12px;
    color: #4f270e;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 20.54px */
    letter-spacing: -0.3px;
    text-transform: uppercase;
  }
}
.con-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  .img {
    width: 100%;
    overflow: hidden;
  }
}
.con-4 {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  background: #ffc33a;
  text-align: center;
  .bg {
    position: absolute;
    &-1 {
      top: 0;
      right: 0;
      width: calc(930px / 2);
      @include md {
        right: -190px;
      }
    }
    &-2 {
      top: 50px;
      left: 360px;
      width: calc(269px / 2);
      @include md {
        left: 160px;
      }
    }
    &-3 {
      top: 660px;
      right: 190px;
      width: calc(268px / 2);
      @include md {
        right: -30px;
      }
    }
    &-4 {
      bottom: -85px;
      left: 0;
      width: calc(795px / 2);
      @include md {
        left: -80px;
      }
    }
    &-5 {
      bottom: 800px;
      left: 0;
      width: calc(539px / 2);
      @include md {
        bottom: 700px;
        left: -70px;
      }
    }
  }
  .text-wrap {
    position: relative;
    z-index: 1;
    .text-1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 24px;
      color: #965c34;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 16px */
      text-transform: uppercase;
    }
    .text-2 {
      margin-bottom: 40px;
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 124%; /* 27.28px */
      letter-spacing: -0.3px;
      text-transform: lowercase;
    }
    .text-3 {
      color: #fff;
      text-align: center;
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 158%; /* 20.54px */
      letter-spacing: -0.3px;
      text-transform: uppercase;
    }
  }
  .circle-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 110px auto 0;
  }
}
.con-5 {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  transition: all 2s;
  &.on {
    background: #005d00;
  }
  .bg-1 {
    position: absolute;
    top: -27px;
    right: 30px;
    width: 82px;
  }
  .h2 {
    .tx-1 {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 10px */
      text-transform: uppercase;
      opacity: 0.5;
    }
    .tx-2 {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 124%; /* 44.64px */
      letter-spacing: -0.3px;
      text-transform: lowercase;
    }
  }
  .box-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    padding-top: 60px;
    padding-left: 36px;
    padding-right: 36px;
    background-image: url(../assets/img_con5_2.png);
    background-repeat: no-repeat;
    background-position: center top;
    .box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      width: 100%;
      padding: 24px 24px 44px;
      border-radius: 24px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        border: 2px solid rgba(255, 255, 255, 0.5);
      }
      &.on {
        background: #fefcea;
        .tx-1 {
          span {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }
        .tx-1,
        .tx-2 {
          color: #4f270e;
        }
        .tx-3 {
          display: block;
        }
        .btn {
          background-image: url(../assets/icon_btn_close.svg);
        }
      }
      .tx-1 {
        color: #fffef3;
        font-family: Pretendard;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 10px */
        text-transform: lowercase;
        opacity: 0.8;
        span {
          &:nth-child(1) {
            display: block;
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
      .tx-2 {
        margin-top: 18px;
        color: #fffef3;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 132%; /* 21.12px */
        text-transform: lowercase;
        text-align: left;
      }
      .tx-3 {
        display: none;
        margin-top: 18px;
        color: #4f270e;
        font-family: Pretendard;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 148%; /* 19.24px */
        letter-spacing: -0.3px;
        text-align: left;
      }
      .btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-image: url(../assets/icon_btn_addsvg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 0.3s;
      }
    }
  }
}
.con-7 {
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fffef3;
  .img {
    width: 100%;
  }
  .box-wrap {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 110px;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 34px 0 55px;
      border-radius: 16px;
      background: #ffdb52;
      &:nth-child(2) {
        background: #005d00;
        .tx-1 {
          color: #000;
          background: #ffdb52;
        }
        .tx-2 {
          span {
            color: #fff;
          }
        }
      }
      .tx-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        padding: 0 16px;
        border-radius: 100px;
        background: #005d00;
        color: #fffef3;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 12px */
        text-transform: lowercase;
      }
      .tx-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4px;
        margin-top: 12px;
        span {
          color: #2d1c11;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 180%; /* 28.8px */
          text-transform: lowercase;
        }
      }
    }
  }
}
.con-8 {
  padding: 70px 0 100px;
  background: #ffdb52;
  transition: all 2s;
  .top {
    display: flex;
    flex-direction: column;
    text-align: center;
    .tx-1 {
      width: 100%;
      margin-bottom: 24px;
      span {
        color: #2d1c11;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 124%; /* 44.64px */
        letter-spacing: -0.3px;
        text-transform: lowercase;
      }
    }
    .tx-2 {
      color: #2d1c11;
      text-align: center;
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 158%; /* 20.54px */
      letter-spacing: -0.3px;
      text-transform: uppercase;
      opacity: 0.7;
    }
  }
  .img-1 {
    width: 100%;
    margin: 70px auto 0;
  }
  .img-7 {
    margin-top: 35px;
  }
  .img-2 {
    margin-top: 30px;
    margin-bottom: 48px;
    text-align: center;
  }
  .img-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .img-4 {
    position: relative;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffb100;
    img {
      &:nth-child(2) {
        margin-top: 60px;
      }
    }
    .img-5 {
      position: absolute;
      bottom: -50px;
      right: 0px;
      width: 150px;
    }
    .img-6 {
      position: absolute;
      bottom: -30px;
      left: 20px;
      width: 100px;
    }
  }
}
.con-9 {
  margin-bottom: -160px;
  padding-top: 70px;
  .top {
    text-align: center;
    .tx-1 {
      color: #2d1c11;
      text-align: center;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 124%; /* 44.64px */
      letter-spacing: -0.3px;
      text-transform: lowercase;
    }
    .tx-2 {
      margin-top: 12px;
      color: #2d1c11;
      text-align: center;
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 158%; /* 20.54px */
      letter-spacing: -0.3px;
      text-transform: uppercase;
      opacity: 0.7;
    }
  }
  .img {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 70px auto 0;
  }
}
.con-10 {
  position: relative;
  padding-top: 200px;
  background: #005d00;
  transition: all 2s;
  .bg-1 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 110px;
  }
}
.con-11 {
  display: flex;
  flex-direction: column;
  .img {
    width: 100%;
    overflow: hidden;
  }
}
.con-12 {
  padding-top: 60px;
  padding-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fffef3;
  .top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
    .tx-1 {
      color: #2d1c11;
      text-align: center;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 124%; /* 44.64px */
      letter-spacing: -0.3px;
      text-transform: lowercase;
    }
    .tx-2 {
      color: #2d1c11;
      text-align: center;
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 158%; /* 20.54px */
      letter-spacing: -0.3px;
      text-transform: uppercase;
      opacity: 0.7;
    }
  }
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    width: 100%;
    img {
      cursor: pointer;
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -25px;
  }
  .swiper-pagination-bullet {
    transition: all 0.3s;
  }
  .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 30px;
    background: #ffd26b;
  }
}
.con-13 {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  .tx-1 {
    margin-bottom: 30px;
    color: #222;
    text-align: center;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 17.6px */
    text-transform: capitalize;
    span {
      color: #ffb100;
    }
  }
  .tx-2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    opacity: 0.8;
    a {
      text-decoration: underline;
    }
  }
  .tx-3 {
    margin-top: 60px;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 12px */
    opacity: 0.3;
  }
}
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  .img {
    position: relative;
  }
  .btn-close {
    position: absolute;
    top: -50px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.modal img {
  max-width: 960px;
  width: 100%;
  display: block;
}
