@import url(../../../common/css/style.css);
.h1 h1 {
  font-family: Poppins;
}

img {
  max-width: 100%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  transition: all 2s;
  background: #fffef6;
}

.footer {
  background-color: #fffef3;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.con-1 {
  height: 620px;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.con-2 {
  padding: 40px 20px 100px;
}
.con-2 .img {
  width: 33px;
}
.con-2 .text-1 {
  margin-top: 12px;
  color: #4f270e;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 27.28px */
  letter-spacing: -0.3px;
  text-transform: capitalize;
}
.con-2 .text-2 {
  margin-top: 12px;
  color: #4f270e;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%; /* 20.54px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.6;
}

.con-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.con-3 .img {
  width: 100%;
  overflow: hidden;
}

.con-4 {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  background: #ffc33a;
  text-align: center;
}
.con-4 .bg {
  position: absolute;
}
.con-4 .bg-1 {
  top: 0;
  right: 0;
  width: 465px;
}
@media (max-width: 1440px) {
  .con-4 .bg-1 {
    right: -190px;
  }
}
.con-4 .bg-2 {
  top: 50px;
  left: 360px;
  width: 134.5px;
}
@media (max-width: 1440px) {
  .con-4 .bg-2 {
    left: 160px;
  }
}
.con-4 .bg-3 {
  top: 660px;
  right: 190px;
  width: 134px;
}
@media (max-width: 1440px) {
  .con-4 .bg-3 {
    right: -30px;
  }
}
.con-4 .bg-4 {
  bottom: -85px;
  left: 0;
  width: 397.5px;
}
@media (max-width: 1440px) {
  .con-4 .bg-4 {
    left: -80px;
  }
}
.con-4 .bg-5 {
  bottom: 800px;
  left: 0;
  width: 269.5px;
}
@media (max-width: 1440px) {
  .con-4 .bg-5 {
    bottom: 700px;
    left: -70px;
  }
}
.con-4 .text-wrap {
  position: relative;
  z-index: 1;
}
.con-4 .text-wrap .text-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 10px */
  text-transform: uppercase;
}
.con-4 .text-wrap .text-2 {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 27.28px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
}
.con-4 .text-wrap .text-3 {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 20.54px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.con-4 .circle-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 110px auto 0;
}

.con-5 {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  background: #005d00;
  transition: all 2s;
}
.con-5 .bg-1 {
  position: absolute;
  top: -27px;
  right: 30px;
  width: 82px;
}
.con-5 .h2 .tx-1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 10px */
  text-transform: uppercase;
  opacity: 0.5;
}
.con-5 .h2 .tx-2 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 44.64px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
}
.con-5 .box-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  padding-top: 60px;
  padding-left: 36px;
  padding-right: 36px;
  background-image: url(../assets/img_con5_2.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.con-5 .box-wrap .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 24px 24px 44px;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}
.con-5 .box-wrap .box:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.con-5 .box-wrap .box.on {
  background: #fefcea;
}
.con-5 .box-wrap .box.on .tx-1 span:nth-child(1) {
  display: none;
}
.con-5 .box-wrap .box.on .tx-1 span:nth-child(2) {
  display: block;
}
.con-5 .box-wrap .box.on .tx-1,
.con-5 .box-wrap .box.on .tx-2 {
  color: #4f270e;
}
.con-5 .box-wrap .box.on .tx-3 {
  display: block;
}
.con-5 .box-wrap .box.on .btn {
  background-image: url(../assets/icon_btn_close.svg);
}
.con-5 .box-wrap .box .tx-1 {
  color: #fffef3;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 10px */
  text-transform: lowercase;
  opacity: 0.8;
}
.con-5 .box-wrap .box .tx-1 span:nth-child(1) {
  display: block;
}
.con-5 .box-wrap .box .tx-1 span:nth-child(2) {
  display: none;
}
.con-5 .box-wrap .box .tx-2 {
  margin-top: 18px;
  color: #fffef3;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 21.12px */
  text-transform: lowercase;
  text-align: left;
}
.con-5 .box-wrap .box .tx-3 {
  display: none;
  margin-top: 18px;
  color: #4f270e;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 19.24px */
  letter-spacing: -0.3px;
  text-align: left;
}
.con-5 .box-wrap .box .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: url(../assets/icon_btn_addsvg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}

.con-7 {
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fffef3;
}
.con-7 .img {
  width: 100%;
}
.con-7 .box-wrap {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 110px;
}
.con-7 .box-wrap .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 34px 0 55px;
  border-radius: 16px;
  background: #ffdb52;
}
.con-7 .box-wrap .box:nth-child(2) {
  background: #005d00;
}
.con-7 .box-wrap .box:nth-child(2) .tx-1 {
  color: #000;
  background: #ffdb52;
}
.con-7 .box-wrap .box:nth-child(2) .tx-2 span {
  color: #fff;
}
.con-7 .box-wrap .box .tx-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 16px;
  border-radius: 100px;
  background: #005d00;
  color: #fffef3;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  text-transform: lowercase;
}
.con-7 .box-wrap .box .tx-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  margin-top: 12px;
}
.con-7 .box-wrap .box .tx-2 span {
  color: #2d1c11;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%; /* 28.8px */
  text-transform: lowercase;
}

.con-8 {
  padding: 70px 0 100px;
  background: #ffdb52;
  transition: all 2s;
}
.con-8 .top {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.con-8 .top .tx-1 {
  width: 100%;
  margin-bottom: 24px;
}
.con-8 .top .tx-1 span {
  color: #2d1c11;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 44.64px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
}
.con-8 .top .tx-2 {
  color: #2d1c11;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 20.54px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.7;
}
.con-8 .img-1 {
  width: 100%;
  margin: 70px auto 0;
}
.con-8 .img-7 {
  margin-top: 35px;
}
.con-8 .img-2 {
  margin-top: 30px;
  margin-bottom: 48px;
  text-align: center;
}
.con-8 .img-3 {
  padding-left: 20px;
  padding-right: 20px;
}
.con-8 .img-4 {
  position: relative;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffb100;
}
.con-8 .img-4 img:nth-child(2) {
  margin-top: 60px;
}
.con-8 .img-4 .img-5 {
  position: absolute;
  bottom: -50px;
  right: 0px;
  width: 150px;
}
.con-8 .img-4 .img-6 {
  position: absolute;
  bottom: -30px;
  left: 20px;
  width: 100px;
}

.con-9 {
  margin-bottom: -160px;
  padding-top: 70px;
}
.con-9 .top {
  text-align: center;
}
.con-9 .top .tx-1 {
  color: #2d1c11;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 44.64px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
}
.con-9 .top .tx-2 {
  margin-top: 12px;
  color: #2d1c11;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 20.54px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.7;
}
.con-9 .img {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 70px auto 0;
}

.con-10 {
  position: relative;
  padding-top: 200px;
  background: #005d00;
  transition: all 2s;
}
.con-10 .bg-1 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 110px;
}

.con-11 {
  display: flex;
  flex-direction: column;
}
.con-11 .img {
  width: 100%;
  overflow: hidden;
}

.con-12 {
  padding-top: 60px;
  padding-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fffef3;
}
.con-12 .top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 50px;
}
.con-12 .top .tx-1 {
  color: #2d1c11;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 44.64px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
}
.con-12 .top .tx-2 {
  color: #2d1c11;
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 20.54px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  opacity: 0.7;
}
.con-12 .swiper {
  overflow: visible;
}
.con-12 .swiper-slide {
  width: 100%;
}
.con-12 .swiper-slide img {
  cursor: pointer;
}
.con-12 .swiper-horizontal > .swiper-pagination-bullets,
.con-12 .swiper-pagination-bullets.swiper-pagination-horizontal,
.con-12 .swiper-pagination-custom,
.con-12 .swiper-pagination-fraction {
  bottom: -25px;
}
.con-12 .swiper-pagination-bullet {
  transition: all 0.3s;
  width: 6px;
  height: 6px;
}
.con-12 .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 30px;
  background: #ffd26b;
}
.con-12 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.con-12 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

.con-13 {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.con-13 .tx-1 {
  margin-bottom: 30px;
  color: #222;
  text-align: center;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 17.6px */
  text-transform: capitalize;
}
.con-13 .tx-1 span {
  color: #ffb100;
}
.con-13 .tx-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #222;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  opacity: 0.8;
}
.con-13 .tx-2 a {
  text-decoration: underline;
}
.con-13 .tx-3 {
  margin-top: 60px;
  color: #222;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  opacity: 0.3;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .img {
  position: relative;
}
.modal .btn-close {
  position: absolute;
  top: -50px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal img {
  max-width: 960px;
  width: 100%;
  display: block;
}/*# sourceMappingURL=style.css.map */