@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

a,
button {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #ddd;
}

.fade-in {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.fade-in.active {
  opacity: 1;
}
.fade-in.delay-1 {
  transition-delay: 0.5s;
}
.fade-in.delay-2 {
  transition-delay: 1s;
}
.fade-in.delay-3 {
  transition-delay: 1.5s;
}
.fade-in.left {
  transform: translateX(50px);
}
.fade-in.left.active {
  transform: translateX(0);
}
.fade-in.right {
  transform: translateX(-50px);
}
.fade-in.right.active {
  transform: translateX(0);
}
.fade-in.up {
  transform: translateY(50px);
}
.fade-in.up.active {
  transform: translateY(0);
}

.header > .inner,
.container > div > .inner,
.footer > .inner {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100px;
}

.con-1 {
  position: relative;
  height: 801px;
  padding-top: 250px;
  background-image: url(../img/img01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.con-1::before {
  position: absolute;
  inset: 0;
  opacity: 0.4;
  background: linear-gradient(149deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
}
.con-1 .tx {
  position: relative;
}
.con-1 .tx-1 {
  color: var(--white, #fff);
  font-size: 58px;
  line-height: 120%; /* 34.1px */
  letter-spacing: -1.74px;
}
.con-1 .tx-2 {
  margin-top: 34px;
  color: var(--gray-g-3, #ccc);
  font-size: 22px;
  line-height: 155%; /* 34.1px */
  letter-spacing: -0.44px;
}
.con-1 .btn {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin-top: 90px;
  padding: 10px 20px 0 20px;
  border: 1px solid #fff;
  border-bottom: none;
  font-size: 20px;
  line-height: 155%; /* 31px */
  letter-spacing: -0.4px;
}

.con-2 {
  padding-top: 230px;
  padding-bottom: 90px;
}
.con-2 .tx-1 {
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  letter-spacing: -1.44px;
}
.con-2 .tx-2 {
  margin-top: 40px;
  color: var(--gray-g-8, #4d4d4d);
  font-size: 20px;
  line-height: 155%; /* 31px */
  letter-spacing: -0.4px;
}
.con-2 .img {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 250px;
}
.con-2 .img .box {
  color: #fff;
  padding: 14px 18px;
  background: var(--primary-5, #ff0f00);
}
.con-2 .img-1 {
  position: relative;
}
.con-2 .img-1 .box {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.con-2 .img-2 {
  position: relative;
}
.con-2 .img-2 .box {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.con-2 .img-3 {
  position: absolute;
  bottom: 0;
  right: 150px;
}

.con-3 {
  position: relative;
  height: 700px;
  padding-top: 220px;
  background-image: url(../img/img02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.con-3::before {
  position: absolute;
  inset: 0;
  background: linear-gradient(95deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
}
.con-3 .tx {
  position: relative;
}
.con-3 .tx-1 {
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  letter-spacing: -0.96px;
}
.con-3 .tx-2 {
  margin-top: 20px;
  color: var(--gray-g-3, #ccc);
  font-size: 22px;
  line-height: 155%; /* 34.1px */
  letter-spacing: -0.44px;
}

.con-4 {
  position: relative;
  padding-top: 180px;
}
.con-4::before {
  position: absolute;
  inset: 0;
  top: auto;
  height: 198px;
  background: var(--gray-g-1, #f6f6f6);
  content: "";
}
.con-4 .inner {
  position: relative;
}
.con-4 .indi {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}
.con-4 .indi .item {
  text-align: center;
}
.con-4 .indi .item .img {
  display: flex;
  align-items: flex-end;
  height: 222px;
}
.con-4 .indi .item .tx {
  padding: 50px 0;
}
.con-4 .tx-1 {
  color: var(--gray-g-7, #666);
  font-size: 22px;
  line-height: 155%; /* 34.1px */
  letter-spacing: -0.44px;
}
.con-4 .tx-2 {
  margin-top: 14px;
  color: var(--black, #000);
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  letter-spacing: -1.44px;
}
.con-4 .tx-3 {
  color: #666;
  font-size: 20px;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}
.con-4 .tx-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #000;
  font-size: 58px;
  line-height: 100%; /* 58px */
  letter-spacing: -1.16px;
}
.con-4 .tx-4 span {
  margin-left: 8px;
  color: #000;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.52px;
}
.con-4 .tx-4 svg {
  margin-left: 8px;
}

.con-5 {
  padding-top: 300px;
  padding-bottom: 170px;
}
.con-5 .tx-1 {
  color: var(--black, #000);
  font-size: 48px;
  line-height: 130%; /* 62.4px */
  letter-spacing: -0.96px;
}
.con-5 .tx-2 {
  margin-top: 34px;
  color: var(--gray-g-8, #4d4d4d);
  font-size: 20px;
  line-height: 155%; /* 31px */
  letter-spacing: -0.4px;
}
.con-5 .box-1 {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.con-5 .box-1 .left .tx {
  margin-top: 260px;
}
.con-5 .box-1 .left img {
  margin-top: 180px;
}
.con-5 .box-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 120px;
}
.con-5 .box-2 img {
  max-width: 825px;
}
.con-5 .box-3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 180px;
}
.con-5 .box-3 img {
  width: 580px;
}
.con-5 .box-3 .tx {
  margin-right: 120px;
}
.con-5 .box-4 {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.con-5 .box-4 img {
  width: 700px;
}/*# sourceMappingURL=style.css.map */