@import url(reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: top;
}

body {
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #000;
  line-height: 1.2;
}

.w1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .w1440 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1180px) {
  .w1440 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btnBooking {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2d3a80;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
.btnBooking * {
  transition: all 0.4s;
}
.btnBooking .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #263895;
  border-radius: 50%;
}
.btnBooking .circle img {
  filter: brightness(0) invert(1);
}
.btnBooking .circle div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}
.btnBooking .cover {
  width: 60px;
  border-radius: 16px;
  padding: 7px 0;
  overflow: hidden;
}
.btnBooking em {
  white-space: nowrap;
}
.btnBooking em.white {
  color: #ffffff;
}
.btnBooking em.black {
  color: #111111;
}
.btnBooking:hover {
  background-color: red;
}
.btnBooking:hover .circle img {
  transform: translateX(70px);
  filter: inherit;
}
.btnBooking:hover .circle div {
  left: 25px;
  opacity: 1;
}
.btnBooking:hover .cover {
  width: 32px;
}

.btnBooking_2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 250px;
  height: 55px;
  border: 1px solid #000;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  background: linear-gradient(to right, rgba(96, 70, 58, 0) 25%, rgba(121, 123, 204, 0.8) 75%);
  background-position: 1% 50%;
  background-size: 400% 300%;
  transition: 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btnBooking_2:after {
  content: "";
  width: 6px;
  height: 12px;
  background-image: url(../img/icon_bullet_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.btnBooking_2:hover {
  transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btnBooking_2:hover {
  color: white;
  color: #fff;
  background-position: 99% 50%;
}

.conTitle .tx1 {
  font-size: 18px;
  font-weight: 800;
  color: #2d3a80;
}
@media (max-width: 1440px) {
  .conTitle .tx1 {
    font-size: 16px;
  }
}
.conTitle .tx2 {
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width: 1440px) {
  .conTitle .tx2 {
    margin-top: 10px;
    font-size: 24px;
  }
}
.conTitle .tx3 {
  margin-top: 40px;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 500;
}
.conTitle .bold {
  display: inline-flex;
  font-weight: 700;
}
.conTitle .spot {
  position: relative;
}
.conTitle .spot::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2d3a80;
}
@media (max-width: 1440px) {
  .conTitle .spot::after {
    right: -10px;
    width: 6px;
    height: 6px;
  }
}

.conTitle2 .tx1 {
  font-size: 18px;
  font-weight: 600;
  color: #2d3a80;
}
.conTitle2 .tx2 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}
.conTitle2 .tx3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}
.conTitle2 .spot {
  position: relative;
}
.conTitle2 .spot::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2d3a80;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.header .w1440 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
@media (max-width: 1440px) {
  .header .w1440 {
    height: 80px;
  }
}
@media (max-width: 1440px) {
  .header .logo {
    width: 110px;
  }
}
.header .menu {
  display: flex;
  gap: 100px;
}
@media (max-width: 1440px) {
  .header .menu {
    display: none;
  }
}
.header .menu .depth1 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.header .menu .depth2 {
  display: none;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .btnMenu {
  display: flex;
  cursor: pointer;
}
.header .btnReservation {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 1440px) {
  .header .btnReservation {
    gap: 8px;
    font-size: 14px;
  }
  .header .btnReservation img {
    width: 20px;
  }
}

.footer {
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #fff;
}
.footer.footer-visible::before {
  transform: scale(10);
}
.footer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 300px;
  height: 300px;
  background-color: #2d3a80;
  border-radius: 50%;
  transition: all 4s;
}
.footer .tx1 {
  display: inline-flex;
  position: relative;
  font-size: 30px;
}
.footer .tx1:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.footer .tx1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer .tx2 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 100px;
  font-weight: 700;
}
.footer .tx3 {
  font-size: 14px;
}

.con0 {
  position: relative;
}
.con0 .tx1 {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #fff;
}
@media (max-width: 1440px) {
  .con0 .tx1 {
    bottom: 60px;
    font-size: 20px;
  }
}
.con0 .swiperNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
@media (max-width: 1440px) {
  .con0 .swiperNavi {
    gap: 40px;
  }
}
.con0 .swiperNavi .bar {
  width: 1px;
  height: 90px;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .con0 .swiperNavi .bar {
    height: 40px;
  }
}
.con0 .swiper-button-next,
.con0 .swiper-button-prev {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  inset: 0;
  width: auto;
  height: auto;
  margin: 0;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1440px) {
  .con0 .swiper-button-next,
  .con0 .swiper-button-prev {
    font-size: 14px;
  }
  .con0 .swiper-button-next img,
  .con0 .swiper-button-prev img {
    width: 16px;
  }
}
.con0 .swiper-button-next:after,
.con0 .swiper-rtl .swiper-button-prev:after,
.con0 .swiper-button-prev:after,
.con0 .swiper-rtl .swiper-button-next:after {
  display: none;
}

.con1 {
  overflow: hidden;
  margin-top: 230px;
  padding-bottom: 130px;
}
@media (max-width: 1440px) {
  .con1 {
    margin-top: 70px;
    padding-bottom: 80px;
  }
}
.con1 .w1440 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.con1 .right {
  position: absolute;
  left: 525px;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 1440px;
  margin-left: 25px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .con1 .right {
    order: 2;
    position: relative;
    inset: 0;
    margin-left: 0;
    margin-top: 30px;
  }
}
.con1 .swiperControl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  width: 500px;
  margin-top: 50px;
}
@media (max-width: 1440px) {
  .con1 .swiperControl {
    order: 3;
    width: 100%;
    margin-top: 15px;
  }
}
.con1 .fraction {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
}
.con1 .fraction .number {
  color: #2d3a80;
}
.con1 .fraction .bar {
  color: #ddd;
}
.con1 .fraction .total {
  color: #ddd;
}
.con1 .swiper-slide {
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .con1 .swiper-slide {
    width: 100%;
  }
}
.con1 .swiper-slide:hover {
  border-radius: 50%;
}
.con1 .swiper-slide:hover:before {
  background-color: rgba(0, 0, 0, 0.4);
}
.con1 .swiper-slide:hover .tx {
  opacity: 1;
}
.con1 .swiper-slide:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
}
.con1 .swiper-slide .tx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
.con1 .swiper-slide .tx .tx1 {
  font-size: 20px;
  font-weight: 700;
}
.con1 .swiper-slide .tx .tx2 {
  margin-top: 10px;
  font-size: 14px;
}
.con1 .swiper-slide .tx .more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #2d3a80;
  background-image: url(../img/icon_plus.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
}
.con1 .navi {
  display: flex;
  gap: 15px;
}
.con1 .swiper-button-next,
.con1 .swiper-button-prev {
  position: relative;
  inset: 0;
  width: auto;
  height: auto;
  margin: 0;
}
.con1 .swiper-button-next::after,
.con1 .swiper-button-prev::after {
  display: none;
}
.con1 .swiper-horizontal > .swiper-pagination-bullets,
.con1 .swiper-pagination-bullets.swiper-pagination-horizontal,
.con1 .swiper-pagination-custom,
.con1 .swiper-pagination-fraction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  inset: 0;
  width: auto;
  margin-top: 150px;
  font-size: 20px;
  color: #ddd;
}
@media (max-width: 1440px) {
  .con1 .swiper-horizontal > .swiper-pagination-bullets,
  .con1 .swiper-pagination-bullets.swiper-pagination-horizontal,
  .con1 .swiper-pagination-custom,
  .con1 .swiper-pagination-fraction {
    gap: 15px;
    order: 4;
    margin-top: 10px;
    font-size: 16px;
  }
}
.con1 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.con1 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto;
  height: auto;
  margin: 0;
  background: none;
  text-align: left;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 0;
}
.con1 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before,
.con1 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: "";
  width: 6px;
  height: 12px;
  margin-left: -26px;
  opacity: 0;
  background-image: url(../img/icon_bullet_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.3s;
}
.con1 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.con1 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  opacity: 1;
  font-size: 28px;
  font-weight: 600;
  color: #2d3a80;
}
@media (max-width: 1440px) {
  .con1 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
  .con1 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    font-size: 18px;
  }
}
.con1 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active::before,
.con1 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active::before {
  margin-left: 0;
  opacity: 1;
}

.con3 {
  padding-top: 100px;
  text-align: center;
}
@media (max-width: 1440px) {
  .con3 {
    padding-top: 0;
  }
}
.con3.mb230 {
  margin-bottom: 230px;
}
@media (max-width: 1440px) {
  .con3 .swiper {
    margin-top: 40px;
  }
}
.con3 .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
  inset: 0;
}
@media (max-width: 1440px) {
  .con3 .swiper-pagination {
    display: none;
  }
}
.con3 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.con3 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: auto;
  height: auto;
  margin: 0;
  background: none;
  border-radius: 0;
  font-size: 20px;
  font-weight: 500;
}
.con3 .swiper-pagination-bullet-active {
  position: relative;
  color: #2d3a80;
}
.con3 .swiper-pagination-bullet-active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2d3a80;
}

.con4 {
  padding-top: 220px;
  padding-bottom: 240px;
  text-align: center;
}
.con4 .typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}
.con4 .typing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.con4 .typing-line-wrapper {
  display: flex;
  align-items: center;
}
.con4 .typing-line {
  white-space: nowrap;
  overflow: hidden;
}
.con4 .cursor {
  display: none;
  width: 2px;
  height: 1.2em;
  margin-left: 10px;
  background-color: black;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
    background-color: transparent;
  }
}
.con4 .btnBooking {
  margin-top: 80px;
}
.con4 .conTitle .tx0 {
  margin-bottom: -70px;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f8f8f8;
}
.con4 .t0 {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 75px;
  font-size: 20px;
}
.con4 .t0 .t1 {
  color: #2d3a80;
  font-weight: 600;
}
.con4 .t0 .bar {
  color: #ddd;
}

.con5 {
  margin-bottom: 240px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f5f6f8;
}
.con5 .w1440 {
  display: flex;
  align-items: center;
  gap: 55px;
}
.con5 .imgWrap {
  display: flex;
  gap: 40px;
}
.con5 .t1,
.con5 .t2 {
  font-size: 18px;
}
.con5 .t1 {
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: 700;
}
.con5 .btnBooking_2 {
  margin-top: 25px;
}

.con6 {
  padding-top: 230px;
  padding-bottom: 80px;
}
.con6 img {
  margin-top: 60px;
}
.con6 .txWrap {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}
.con6 .txWrap .blue {
  color: #2d3a80;
}
.con6 .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.con6 .bottom .bar {
  width: 500px;
  height: 1px;
  background-color: #000;
}
.con6 .bottom .t2 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
}
.con6 .bottom .t2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.con7 {
  display: flex;
  gap: 40px;
}

.con8 {
  margin-top: 235px;
  margin-bottom: 220px;
  padding-top: 230px;
  padding-bottom: 230px;
  background-color: #f5f6f8;
}
.con8 .w1440 {
  display: flex;
  align-items: center;
  position: relative;
}
.con8 .textWrap {
  width: 590px;
}
.con8 .imgWrap {
  position: absolute;
  left: 590px;
  width: 1088px;
}
.con8 .btnBooking_2 {
  margin-top: 45px;
}

.con10 {
  display: flex;
  gap: 30px;
  margin-top: 180px;
}

.con11 {
  padding-top: 230px;
  padding-bottom: 120px;
}

.con12 {
  display: flex;
  gap: 120px;
  padding-bottom: 180px;
}
.con12 .left {
  width: 80%;
}
.con12 .left .tx1 {
  margin-top: 50px;
  font-size: 100px;
  font-weight: 800;
  color: #f5f6f8;
}
.con12 .right {
  margin-top: -160px;
}
.con12 .img {
  position: relative;
}
.con12 .img .num,
.con12 .img .text {
  position: absolute;
}
.con12 .img_1 .num {
  top: 100%;
  left: 20px;
  margin-top: 20px;
}
.con12 .img_1 .text {
  top: 100%;
  right: 20px;
  margin-top: 20px;
}
.con12 .img_2 {
  display: inline-flex;
  margin-bottom: 80px;
}
.con12 .img_2 .num {
  top: 0;
  right: -30px;
  margin-top: 20px;
}
.con12 .img_2 .text {
  bottom: 0;
  right: -30px;
  margin-bottom: 20px;
}
.con12 .img_3 {
  display: inline-flex;
  margin-bottom: 80px;
}
.con12 .img_3 .num {
  top: 0;
  left: -30px;
  margin-top: 20px;
}
.con12 .img_3 .text {
  bottom: 0;
  left: -30px;
  margin-bottom: 20px;
}

.con13 {
  padding-top: 240px;
  padding-bottom: 240px;
}
.con13 .itemWrap {
  display: grid;
  grid-gap: 120px 40px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
}
.con13 .item {
  font-weight: 500;
}
.con13 .item .tx1 {
  margin-top: 30px;
  font-size: 14px;
}
.con13 .item .tx1 .bold {
  font-size: 18px;
  font-weight: 700;
}
.con13 .item .tx2 {
  margin-top: 20px;
  font-size: 14px;
  color: #111;
  line-height: 1.4;
}
.con13 .item .bar {
  margin: 0 5px;
  font-size: 19px;
}

.con14 {
  padding-top: 240px;
}
.con14 .conTitle {
  margin-bottom: 40px;
}
.con14 .address {
  font-size: 20px;
}
.con14 .tx1 {
  margin-top: 35px;
  margin-bottom: 10px;
  color: #2d3a80;
  font-weight: 700;
}
.con14 .underline {
  position: relative;
}
.con14 .underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}/*# sourceMappingURL=style.css.map */