@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.header .menu {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 700;
}
.header .search input {
  width: 320px;
  height: 36px;
  padding-left: 35px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: #a6b5cb;
  background: #eff2f5;
  background-image: url(../images/icon_search.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.container .con_2 {
  margin-top: 80px;
}
.container .con_2 .desc {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
}
.container .con_2 .desc .blue {
  color: #0142ff;
}
.container .con_2 .desc .yellow {
  color: #ffc71a;
}
.container .con_2 .item {
  width: 100%;
  padding: 20px 30px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
}
.container .con_2 .item.black {
  background: #2d2d2d;
  color: #fff;
}
.container .con_2 .item_wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.container .con_2 .item .title {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 700;
}
.container .con_2 .table {
  font-size: 14px;
}
.container .con_2 .table .tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.container .con_2 .table .td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.container .con_2 .table .td .icon_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.container .con_2 .table .td .grade {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 24px;
  color: #fff;
  border-radius: 5px;
}
.container .con_2 .table .td .grade.a {
  background: linear-gradient(360deg, #00d360 0%, #008c40 100%);
}
.container .con_2 .table .td .grade.b {
  background: linear-gradient(360deg, rgba(0, 129, 221, 0.9) 0%, rgba(0, 81, 140, 0.9) 100%);
}
.container .con_2 .table .td .grade.c {
  background: linear-gradient(360deg, rgba(255, 213, 83, 0.9) 0%, rgba(209, 158, 0, 0.9) 100%);
}
.container .con_2 .table .td .grade.d {
  background: linear-gradient(360deg, #ff7d24 0%, #923b00 100%);
}
.container .con_2 .table .td.bold {
  font-weight: 700;
}
.container .con_3 {
  margin-top: 80px;
}
.container .con_3 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container .con_3 .top .title {
  font-size: 24px;
  font-weight: 700;
}
.container .con_3 .top .btn {
  display: flex;
  align-items: center;
  height: 24px;
  padding-right: 25px;
  background-image: url(../images/icon_more.png);
  background-repeat: no-repeat;
  background-position: right 0 center;
  font-size: 16px;
}
.container .con_3 table {
  overflow: hidden;
  width: 100%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  text-align: center;
}
.container .con_3 table tr {
  height: 50px;
  border-bottom: 1px solid #000;
}
.container .con_3 table tr:last-child {
  border-bottom: none;
}
.container .con_3 table tr.black {
  background-color: #222;
  color: #fff;
}
.container .con_3 table tr th {
  vertical-align: middle;
}
.container .con_3 table tr th:first-child {
  padding-left: 40px;
}
.container .con_3 table tr th:last-child {
  padding-right: 40px;
}
.container .con_3 table tr td {
  vertical-align: middle;
}
.container .con_3 table tr td .icon_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.container .con_3 table tr td .icon_text span {
  margin-left: 5px;
  color: #666;
}
.container .con_3 table tr td:first-child {
  padding-left: 40px;
}
.container .con_3 table tr td:last-child {
  padding-right: 40px;
}
.container .con_3 table tr td.red {
  color: #ff0000;
}
.container .con_3 table tr td.orange {
  color: #ed7d31;
}
.container .con_3 table tr td .grade {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  font-size: 16px;
}
.container .con_3 table tr td .grade_current {
  color: #fff;
  font-weight: 800;
}
.container .con_3 table tr td .grade_current.green {
  background: linear-gradient(180deg, #1ba157 0%, #1bd16e 100%);
}
.container .con_3 table tr td .grade_current.orange {
  background: linear-gradient(360deg, #f17420 0%, #9f4304 100%);
}
.container .con_3 table tr td .grade_current.yellow {
  background: linear-gradient(360deg, #ffdb6d 0%, #ffc000 100%);
}/*# sourceMappingURL=common.css.map */