@import url(../../../common/css/style.css);

@mixin md {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 1180px) {
    @content;
  }
}
img {
  max-width: 100%;
}
body {
  background: var(--neutral-gray-black, #000);
}
.h1 {
  h1 {
    font-family: Montserrat;
  }
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.con-title {
  text-align: center;
  &.white {
    .tx-2 {
      color: #000;
      text-shadow: none;
      background: none;
      -webkit-text-fill-color: initial;
      text-transform: lowercase;
    }
    .tx-3 {
      color: #000;
    }
  }
  &.large {
    .tx-2 {
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Montserrat;
      font-size: 75px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 67.5px */
      letter-spacing: -1px;
      text-transform: capitalize;
    }
  }
  & > img {
    width: 128px;
    margin: 0 auto 7px;
    @include md {
      width: 120px;
    }
  }
  .tx-1 {
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    opacity: 0.3;
  }
  .tx-2 {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 110% */
    letter-spacing: -1px;
    text-transform: capitalize;
    background: linear-gradient(
      107deg,
      #fff 65%,
      rgba(255, 255, 255, 0.43) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tx-3 {
    margin-top: 16px;
    color: #bdbdc0;
    text-align: center;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    &.white {
      color: #fff;
    }
  }
}
.con-1 {
  height: 1055px;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1920px;
}
.con-2 {
  padding-top: 280px;
  .con-title {
    position: relative;
    .tx-2 {
      width: calc(1334px / 2);
    }
    .poa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-1 {
        width: calc(161px / 2);
        margin-left: -226px;
        margin-top: -144px;
      }
      &-2 {
        width: calc(161px / 2);
        margin-left: 226px;
        margin-top: -144px;
      }
      &-3 {
        width: calc(169px / 2);
        margin-left: -398px;
        margin-top: -31px;
      }
      &-4 {
        width: calc(188px / 2);
        margin-left: 387px;
        margin-top: -52px;
      }
      &-5 {
        width: calc(161px / 2);
        margin-left: -249px;
        margin-top: 182px;
      }
      &-6 {
        width: calc(161px / 2);
        margin-left: 266px;
        margin-top: 197px;
      }
      &-7 {
        margin-top: 241px;
      }
    }
  }
}
.con-3 {
  max-width: 1520px;
  margin: 0 auto;
  padding-top: 250px;
  padding-bottom: 64px;
  background-image: url(../assets/bg_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .img {
    width: calc(677px / 2);
    margin: 0 auto;
    text-align: center;
    animation: floatAnimation 3s infinite ease-in-out;
  }
  .tx-1 {
    margin-top: 130px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 114%; /* 20.52px */
    text-transform: uppercase;
  }
  .btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 20px auto 0;
    border-radius: 50%;
    border: 1px solid rgba(120, 255, 72, 1);
  }
}
.con-4 {
  padding: 120px 0 180px;
  background-color: rgba(244, 244, 244, 1);
  background-image: url(../assets/bg_2.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  .img {
    width: calc(1689px / 2);
    margin: 20px auto 0;
  }
}
.con-5 {
  height: 800px;
  background-image: url(../assets/img_con5_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .inner {
    position: relative;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
  }
  .poa {
    position: absolute;
    bottom: -150px;
    left: 40px;
    width: calc(603px / 2);
    img {
      animation: floatAnimation 3s infinite ease-in-out;
      &.md {
        display: none;
      }
      @include md {
        &.lg {
          display: none;
        }
        &.md {
          display: block;
        }
      }
    }
  }
}
.con-6 {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  .con-title {
    .tx-2 {
      width: calc(1252px / 2);
    }
  }
  .tx-4 {
    display: inline-flex;
    align-items: center;
    height: 30px;
    margin-bottom: 47px;
    padding: 0 20px;
    border-radius: 100px;
    border: 1px solid rgba(237, 237, 237, 0.08);
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 107.692% */
    text-transform: lowercase;
  }
  .tx-5 {
    margin-top: 6px;
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
  }
  .tx-6 {
    margin-top: 12px;
    color: #a9a9a9;
    text-align: center;
    font-family: SUIT;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 169.231% */
  }
  .bullet {
    margin: 32px 0;
  }
  .box-wrap {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 40px;
    padding-right: 40px;
    @include md {
      gap: 9px;
    }
  }
  .box {
    width: 282px;
    height: 350px;
    padding-top: 30px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #141316;
    @include md {
      width: 268px;
    }
    &.lock {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: none;
      .tx-4 {
        border: none;
        opacity: 0.5;
      }
      .tx-5 {
        opacity: 0.5;
      }
    }
    .img {
      width: 80px;
      margin: 0 auto;
    }
  }
}
.con-7 {
  padding-top: 366px;
  background-image: url(../assets/img_con7_1.png);
  background-repeat: no-repeat;
  background-position: center top 70px;
  background-size: 1920px;
  .con-title {
    .tx-2 {
      width: calc(846px / 2);
    }
  }
}
.con-8 {
  margin-top: 138px;
  padding-left: 32px;
  padding-right: 32px;
  .img-wrap {
    display: flex;
    gap: 16px;
    @include md {
      gap: 9px;
    }
    .img {
      position: relative;
      .tx-1 {
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 40px;
        height: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 100px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px; /* 107.692% */
        text-transform: lowercase;
        @include md {
          top: 20px;
          left: 20px;
        }
      }
      .md {
        display: none;
      }
      @include md {
        .lg {
          display: none;
        }
        .md {
          display: block;
        }
      }
    }
  }
}
.con-9 {
  padding-top: 534px;
  padding-bottom: 1060px;
  background-image: url(../assets/img_con9_5.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1920px;
  @include md {
    padding-top: 370px;
    padding-bottom: 1170px;
  }
  .con-title {
    position: relative;
    .tx-2 {
      width: calc(1404px / 2);
    }
    .poa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .poa-1 {
      width: calc(489px / 2);
      margin-top: -188px;
      margin-left: -561px;
      @include md {
        margin-top: -161px;
        margin-left: -304px;
      }
    }
    .poa-2 {
      width: calc(358px / 2);
      margin-top: -260px;
      margin-left: 361px;
      @include md {
        margin-top: -214px;
        margin-left: 273px;
      }
    }
    .poa-3 {
      width: calc(365px / 2);
      margin-top: 222px;
      margin-left: -280px;
    }
    .poa-4 {
      width: calc(526px / 2);
      margin-top: 250px;
      margin-left: 310px;
    }
  }
}
.con-10 {
  padding-top: 136px;
  padding-bottom: 150px;
  background: #141316;
  transition: all 1s;
  &.on {
    background: #78ff48;
  }
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    @include md {
      gap: 67px;
    }
  }
  .img-wrap {
    display: flex;
    flex-direction: column;
    gap: 90px;
    @include md {
      gap: 80px;
    }
    &:nth-child(2) {
      margin-top: 150px;
    }
    &:nth-child(3) {
      margin-top: 500px;
    }
  }
  .img {
    width: 332px;
    @include md {
      width: 282px;
    }
    @include sm {
      width: 24vw;
    }
    img {
      box-shadow: 20px 15px 40px 0px rgba(0, 0, 0, 0.2),
        20px 15px 40px 0px rgba(0, 0, 0, 0.2);
    }
    .tx-4 {
      margin-top: 14px;
      color: #757575;
      text-align: center;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
    }
  }
}
.con-11 {
  position: relative;
  padding-top: 134px;
  padding-left: 40px;
  padding-right: 40px;
  background: #fa8cc0;
  transition: all 1s;
  @include md {
    padding-left: 80px;
    padding-right: 80px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 750px;
    background: linear-gradient(180deg, #f94997 0%, rgba(249, 73, 151, 0) 100%);
    content: "";
    @include md {
      height: 667px;
    }
  }
  &.on {
    background: #000;
  }
  .con-title {
    position: relative;
    .tx-2 {
      width: calc(952px / 2);
    }
  }
  .inner {
    max-width: 1140px;
    margin: 0 auto;
  }
  .img-wrap {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    transform: translateY(156px);
    margin-top: -100px;
    @include sm {
      transform: translateY(136px);
    }
    > div {
      width: 50%;
    }
    .left {
      margin-top: 50px;
      .img-4 {
        display: flex;
        gap: 12px;
        img {
          max-width: 280px;
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.15));
          @include md {
            width: 240px;
          }
        }
      }
    }
    .img-2 {
      width: calc(761px / 2);
    }
    .img-3 {
      display: flex;
      gap: 12px;
      img {
        max-width: 280px;
        box-shadow: 22.46366px 16.84775px 44.92733px 0px rgba(0, 0, 0, 0.15);
        @include md {
          width: 240px;
        }
      }
    }
  }
}
.con-12 {
  padding-top: 360px;
  margin-left: -40px;
  margin-right: -40px;
  .con-title {
    .tx-2 {
      width: calc(1032px / 2);
    }
  }
  .item-wrap {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-top: 207px;
    padding-bottom: 258px;
    background-image: url(../assets/img_con12_1.png);
    background-repeat: no-repeat;
    background-position: top 135px center;
    background-size: 16.666666vw;
    @include sm {
      gap: 40px;
      background-size: 19vw;
      padding-top: 188px;
    }
  }
}
.con-13 {
  padding-top: 134px;
  padding-bottom: 110px;
  background: #e59600;
  background-image: url(../assets/img_con13_2.png);
  background-repeat: no-repeat;
  background-position: center bottom 290px;
  background-size: contain;
  transition: all 1s;
  .img {
    width: 320px;
    margin: 52px auto 0;
  }
  .con-title {
    .tx-2 {
      width: calc(1306px / 2);
    }
  }
}
.con-14 {
  padding: 90px 0;
  text-align: center;
  background: #f0ddab;
  img {
    width: 520px;
  }
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
