@import url(reset.css);

@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 700;
}
@font-face {
  font-family: "SUIT";
  src: url(../../common/fonts/suit/SUIT-Regular.otf) format("opentype");
  unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060,
    U+007B-007E;
  font-weight: 400;
}
@font-face {
  font-family: "SUIT";
  src: url(../../common/fonts/suit/SUIT-Bold.otf) format("opentype");
  unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060,
    U+007B-007E;
  font-weight: 700;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf)
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Medium.otf)
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-SemiBold.otf)
    format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Bold.otf)
    format("truetype");
  font-weight: 700;
}

@mixin md {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 1180px) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 1179px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "SUIT", sans-serif;
  font-weight: 400;
}
img {
  vertical-align: top;
}
.h1 {
  padding-top: 130px;
  display: block;
  text-align: center;
  @include xs {
    padding-top: 80px;
  }
  h1 {
    margin-bottom: 24px;
    color: #fff;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 80px */
    letter-spacing: -0.8px;
    text-transform: uppercase;
    @include xs {
      margin-bottom: 12px;
      color: #fff;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 36px */
      letter-spacing: -0.36px;
    }
  }
  .tag-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @include xs {
      flex-wrap: wrap;
      row-gap: 10px;
    }
    span {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%; /* 14.4px */
      text-transform: lowercase;
      @include xs {
        color: #fff;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 10px */
        text-transform: lowercase;
      }
      & + span {
        display: flex;
        align-items: center;
        &::before {
          display: flex;
          width: 1px;
          height: 15px;
          margin: 0 12px;
          background-color: #fff;
          opacity: 0.5;
          content: "";
          @include xs {
            height: 8px;
          }
        }
      }
    }
  }
}

.img_big {
  visibility: visible !important;
  transform: scale(1.05);
  transition: all ease-in-out 1s;
  &.animated {
    transform: scale(1);
  }
}
