@import url(reset.css);
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../../common/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 700;
}
@font-face {
  font-family: "SUIT";
  src: url(../../common/fonts/suit/SUIT-Regular.otf) format("opentype");
  unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  font-weight: 400;
}
@font-face {
  font-family: "SUIT";
  src: url(../../common/fonts/suit/SUIT-Bold.otf) format("opentype");
  unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  font-weight: 700;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Light.otf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Medium.otf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-SemiBold.otf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Noto_Serif_KR/NotoSerifKR-Bold.otf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url(../../common/fonts/Pretendard/woff2/Pretendard-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../common/fonts/Pretendard/woff2/Pretendard-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../common/fonts/Pretendard/woff2/Pretendard-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../common/fonts/Pretendard/woff2/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../common/fonts/Pretendard/woff2/Pretendard-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../common/fonts/Pretendard/woff2/Pretendard-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../common/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../common/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../common/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../common/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../common/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "SUIT", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

.h1 {
  padding-top: 130px;
  display: block;
  text-align: center;
}
@media (max-width: 1179px) {
  .h1 {
    padding-top: 80px;
  }
}
.h1 h1 {
  margin-bottom: 24px;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
  letter-spacing: -0.8px;
  text-transform: uppercase;
}
@media (max-width: 1179px) {
  .h1 h1 {
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
    letter-spacing: -0.36px;
  }
}
.h1 .tag-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}
@media (max-width: 1179px) {
  .h1 .tag-wrap {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
.h1 .tag-wrap span {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 14.4px */
  text-transform: lowercase;
}
@media (max-width: 1179px) {
  .h1 .tag-wrap span {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 10px */
    text-transform: lowercase;
  }
}
.h1 .tag-wrap span + span {
  display: flex;
  align-items: center;
}
.h1 .tag-wrap span + span::before {
  display: flex;
  width: 1px;
  height: 15px;
  margin: 0 12px;
  background-color: #fff;
  opacity: 0.5;
  content: "";
}
@media (max-width: 1179px) {
  .h1 .tag-wrap span + span::before {
    height: 8px;
  }
}

.img_big {
  visibility: visible !important;
  transform: scale(1.03);
  transition: all ease-in-out 0.8s;
}
.img_big.animated {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */