@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}
a,
button {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
  vertical-align: top;
}
input {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #ddd;
}
.fade-in {
  opacity: 0;
  transition: all 1s ease-in-out;
  &.active {
    opacity: 1;
  }
  &.delay-1 {
    transition-delay: 0.5s;
  }
  &.delay-2 {
    transition-delay: 1s;
  }
  &.delay-3 {
    transition-delay: 1.5s;
  }
  &.delay-4 {
    transition-delay: 2s;
  }
  &.delay-5 {
    transition-delay: 2.5s;
  }
  &.left {
    transform: translateX(50px);
    &.active {
      transform: translateX(0);
    }
  }
  &.right {
    transform: translateX(-50px);
    &.active {
      transform: translateX(0);
    }
  }
  &.up {
    transform: translateY(100px);
    &.active {
      transform: translateY(0);
    }
  }
}
.header,
.container > div,
.footer {
  > .inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &.on {
    .logo {
      svg {
        path {
          transition: all 0.3s;
          &:not(.stroke) {
            fill: #000;
          }
          &.stroke {
            stroke: #000;
          }
        }
      }
    }
  }
  &.simple {
    .btn-view {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.color {
    .btn-view {
      background: var(--primary-5, #ff0f00);
    }
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .logo {
    width: 102px;
  }
  .btn-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 14px;
    background-color: #000;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: -0.28px;
    svg {
      width: 24px;
      margin-left: 6px;
    }
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 70px;
  .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .logo {
    width: 120px;
    margin-bottom: 40px;
  }
  .tx {
    display: flex;
    flex-direction: column;
    gap: 6px;
    &-1 {
      color: #666;
      font-size: 16px;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
      a {
        display: inline-block;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
        text-decoration-line: underline;
      }
      span {
        display: inline-block;
        width: 1px;
        height: 14px;
        margin: 0 10px;
        background: rgba(102, 102, 102, 0.5);
      }
    }
  }
}
.btn {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  padding: 10px 15px 0 15px;
  border: 1px solid #fff;
  border-bottom: none;
  color: var(--gray-g-3, #ccc);
  font-size: 16px;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  svg {
    width: 13px;
  }
}
.con-1 {
  position: relative;
  height: 620px;
  padding-top: 290px;
  background-image: url(../img/img01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background: linear-gradient(149deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
  }
  .tx {
    position: relative;
    &-1 {
      color: var(--white, #fff);
      font-size: 32px;
      line-height: 125%; /* 34.1px */
      letter-spacing: -0.96px;
    }
    &-2 {
      margin-top: 22px;
      color: var(--gray-g-3, #ccc);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
  }
  .btn {
    margin-top: 50px;
  }
}
.con-2 {
  padding-top: 50px;
  padding-bottom: 50px;
  .tx {
    &-1 {
      color: var(--black, #000);
      font-size: 28px;
      line-height: 133%; /* 37.24px */
      letter-spacing: -0.84px;
    }
    &-2 {
      margin-top: 16px;
      color: var(--gray-g-8, #4d4d4d);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
  }
  .img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-top: 130px;
    .box {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 12px;
      color: var(--white, #fff);
      text-align: center;
      font-size: 12px;
      line-height: 15px; /* 125% */
      letter-spacing: -0.24px;
      background: var(--primary-5, #ff0f00);
      &::before {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translate(-50%, 0) rotate(45deg);
        width: 10px;
        height: 10px;
        background: var(--primary-5, #ff0f00);
        content: "";
      }
    }
    &-1 {
      position: relative;
      .box {
        top: -80px;
        width: 120px;
      }
    }
    &-2 {
      position: relative;
      .box {
        top: -80px;
        white-space: nowrap;
        transform: translateX(-70%);
        &::before {
          left: 70%;
        }
      }
    }
    &-3 {
      position: absolute;
      bottom: 0;
      right: 35px;
      img.active {
        animation: slideRight 2s linear forwards 1s;
      }
    }
  }
}
.con-3 {
  position: relative;
  padding-top: 45px;
  aspect-ratio: 375/370;
  background-image: url(../img/img02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    position: absolute;
    inset: 0;
    opacity: 0.25;
    background: linear-gradient(158deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
  }
  .tx {
    position: relative;
    &-1 {
      font-size: 28px;
      line-height: 130%; /* 36.4px */
      letter-spacing: -0.84px;
    }
    &-2 {
      margin-top: 20px;
      color: var(--gray-g-2, #e6e6e6);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
  }
}
.con-4 {
  position: relative;
  padding-top: 45px;
  .inner {
    position: relative;
  }
  .indi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    margin-top: 90px;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:nth-child(1) {
        img {
          width: 180px;
        }
      }
      &:nth-child(2) {
        img {
          width: 140px;
        }
      }
      &:nth-child(3) {
        img {
          width: 100px;
        }
      }
      .img {
        display: flex;
        align-items: flex-end;
      }
      .tx {
        position: relative;
        padding: 25px 0;
        text-align: center;
        &::before {
          position: absolute;
          inset: 0;
          left: -30px;
          right: -30px;
          background: var(--gray-g-1, #f6f6f6);
          content: "";
        }
      }
    }
  }
  .tx {
    width: 100%;
    &-1 {
      color: var(--gray-g-6, #808080);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
    &-2 {
      margin-top: 12px;
      color: var(--black, #000);
      font-size: 28px;
      line-height: 133%; /* 37.24px */
      letter-spacing: -0.84px;
    }
    &-3 {
      position: relative;
      color: var(--gray-g-8, #4d4d4d);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
    &-4 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--black, #000);
      font-size: 34px;
      line-height: 130%; /* 44.2px */
      letter-spacing: -1.02px;
      span {
        margin-top: 10px;
        margin-left: 4px;
        color: var(--gray-g-9, #333);
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.36px;
      }
      svg {
        width: 16px;
        height: 16px;
        margin-left: 8px;
      }
    }
  }
}
.con-5 {
  padding-top: 60px;
  padding-bottom: 90px;
  .tx {
    &-1 {
      font-size: 28px;
      line-height: 133%; /* 37.24px */
      letter-spacing: -0.84px;
    }
    &-2 {
      margin-top: 16px;
      color: var(--gray-g-8, #4d4d4d);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
  }
  .img {
    &-1 {
      text-align: right;
      margin-top: 45px;
      img {
        width: 280px;
      }
    }
    &-2 {
      margin-top: 80px;
      img {
        width: 268px;
      }
    }
    &-3 {
      margin-top: 48px;
      margin-bottom: 105px;
    }
    &-4 {
      margin-top: 45px;
      padding-right: 20px;
      text-align: right;
      img {
        width: 250px;
      }
    }
    &-5 {
      margin-top: 80px;
      text-align: right;
      img {
        width: 335px;
      }
    }
  }
}
.con-6 {
  padding-top: 50px;
  padding-bottom: 110px;
  background: var(--black, #000);
  color: #fff;
  overflow: hidden;
  .tx {
    padding-bottom: 210px;
    background-image: url(../img/indi07.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 171px;
    &-1 {
      color: var(--gray-g-4, #b3b3b3);
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
    }
    &-2 {
      margin-top: 14px;
      color: var(--white, #fff);
      font-size: 28px;
      line-height: 133%; /* 37.24px */
      letter-spacing: -0.84px;
    }
    &-3 {
      color: var(--gray-g-6, #808080);
      font-size: 22px;
    }
    &-4 {
      margin-top: 5px;
      color: #fff;
      font-size: 20px;
      line-height: 125%; /* 25px */
      letter-spacing: -0.6px;
    }
    &-5 {
      color: var(--gray-g-3, #ccc);
      font-size: 15px;
      line-height: 155%; /* 23.25px */
      letter-spacing: -0.3px;
    }
    &-6 {
      margin-top: 16px;
      color: #000;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.28px;
      // overflow: hidden;
      // white-space: normal;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      // -webkit-line-clamp: 3;
      // -webkit-box-orient: vertical;
      // word-break: keep-all;
    }
    &-7 {
      margin-top: 8px;
      color: #666;
      font-size: 14px;
      line-height: 150%; /* 21px */
      letter-spacing: -0.28px;
    }
    &-8 {
      margin-top: 85px;
      padding-bottom: 30px;
      color: var(--white, #fff);
      font-size: 28px;
      line-height: 130%; /* 36.4px */
      letter-spacing: -0.84px;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-bottom: 0;
      .left {
        padding: 17px 20px 0;
        border: 1px solid #fff;
        border-bottom: none;
      }
      .right {
        margin-top: 18px;
        padding: 0 20px;
      }
    }
  }
  .mySwiper {
    overflow: visible;
    .swiper-slide {
      width: 248px;
      padding: 20px 14px;
      background-color: #fff;
      color: #000;
      &:not(:last-child) {
        margin-right: 20px;
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 80px;
        height: 80px;
        background-color: #e4e4e4;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
.con-7 {
  position: relative;
  aspect-ratio: 375/480;
  padding-top: 45px;
  background-image: url(../img/img08.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background: linear-gradient(149deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
  }
  .inner {
    position: relative;
  }
  .tx {
    &-1 {
      font-size: 28px;
      line-height: 130%; /* 36.4px */
      letter-spacing: -0.84px;
    }
  }
  .btn {
    margin-top: 40px;
  }
}
