@import url(../../../common/css/style.css);
img {
  max-width: 100%;
}

body {
  background: var(--neutral-gray-black, #000);
}

.h1 {
  padding-top: 70px;
}
.h1 h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.con-title {
  text-align: center;
}
.con-title.white .tx-2 {
  color: #000;
  text-shadow: none;
  background: none;
  -webkit-text-fill-color: initial;
  text-transform: lowercase;
}
.con-title.white .tx-3 {
  color: #000;
}
.con-title.large .tx-2 {
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
  font-family: Montserrat;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 67.5px */
  letter-spacing: -1px;
  text-transform: capitalize;
}
.con-title > img {
  width: 128px;
  margin: 0 auto 7px;
}
.con-title .tx-1 {
  margin-bottom: 70px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
  opacity: 0.3;
}
.con-title .tx-2 {
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px; /* 110% */
  letter-spacing: -1px;
  text-transform: capitalize;
  background: linear-gradient(107deg, #fff 65%, rgba(255, 255, 255, 0.43) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.con-title .tx-3 {
  margin-top: 26px;
  color: #bdbdc0;
  text-align: center;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.con-title .tx-3.white {
  color: #fff;
}

.con-1 {
  height: 996px;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1920px;
}

.con-2 {
  padding-top: 280px;
}
.con-2 .con-title {
  position: relative;
}
.con-2 .con-title .poa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.con-2 .con-title .poa-1 {
  width: 80.5px;
  margin-left: -226px;
  margin-top: -144px;
}
.con-2 .con-title .poa-2 {
  width: 80.5px;
  margin-left: 226px;
  margin-top: -144px;
}
.con-2 .con-title .poa-3 {
  width: 84.5px;
  margin-left: -398px;
  margin-top: -31px;
}
.con-2 .con-title .poa-4 {
  width: 94px;
  margin-left: 387px;
  margin-top: -52px;
}
.con-2 .con-title .poa-5 {
  width: 80.5px;
  margin-left: -249px;
  margin-top: 182px;
}
.con-2 .con-title .poa-6 {
  width: 80.5px;
  margin-left: 266px;
  margin-top: 197px;
}
.con-2 .con-title .poa-7 {
  margin-top: 241px;
}

.con-3 {
  max-width: 1520px;
  margin: 0 auto;
  padding-top: 250px;
  padding-bottom: 64px;
  background-image: url(../assets/bg_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-3 .img {
  width: 338.5px;
  margin: 0 auto;
  text-align: center;
  animation: floatAnimation 3s infinite ease-in-out;
}
.con-3 .tx-1 {
  margin-top: 130px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%; /* 20.52px */
  text-transform: uppercase;
}
.con-3 .btn-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  border-radius: 50%;
  border: 1px solid rgb(120, 255, 72);
}

.con-4 {
  padding: 120px 0 180px;
  background-color: rgb(244, 244, 244);
  background-image: url(../assets/bg_2.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.con-4 .img {
  width: 844.5px;
  margin: 20px auto 0;
}

.con-5 {
  height: 800px;
  background-image: url(../assets/img_con5_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.con-5 .inner {
  position: relative;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}
.con-5 .poa {
  position: absolute;
  bottom: -150px;
  left: 40px;
  width: 301.5px;
}
.con-5 .poa img {
  animation: floatAnimation 3s infinite ease-in-out;
}

.con-6 {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}
.con-6 .tx-4 {
  display: inline-flex;
  align-items: center;
  height: 30px;
  margin-bottom: 47px;
  padding: 0 20px;
  border-radius: 100px;
  border: 1px solid rgba(237, 237, 237, 0.08);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 107.692% */
  text-transform: lowercase;
}
.con-6 .tx-5 {
  margin-top: 6px;
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.con-6 .tx-6 {
  margin-top: 12px;
  color: #a9a9a9;
  text-align: center;
  font-family: SUIT;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
}
.con-6 .bullet {
  margin: 32px 0;
}
.con-6 .box-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 40px;
  padding-right: 40px;
}
.con-6 .box {
  width: 282px;
  height: 350px;
  padding-top: 30px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #141316;
}
.con-6 .box.lock {
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.con-6 .box .img {
  width: 80px;
  margin: 0 auto;
}

.con-7 {
  padding-top: 366px;
  background-image: url(../assets/img_con7_1.png);
  background-repeat: no-repeat;
  background-position: center top 70px;
  background-size: 1920px;
}

.con-8 {
  margin-top: 138px;
  padding-left: 30px;
  padding-right: 30px;
}
.con-8 .img-wrap {
  display: flex;
  gap: 16px;
}
.con-8 .img-wrap .img {
  position: relative;
}
.con-8 .img-wrap .img .tx-1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 107.692% */
  text-transform: lowercase;
}

.con-9 {
  padding-top: 534px;
  padding-bottom: 1060px;
  background-image: url(../assets/img_con9_5.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1920px;
}
@media (max-width: 1440px) {
  .con-9 {
    padding-top: 370px;
    padding-bottom: 1170px;
  }
}
.con-9 .con-title {
  position: relative;
}
.con-9 .con-title .poa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.con-9 .con-title .poa-1 {
  width: 244.5px;
  margin-top: -188px;
  margin-left: -561px;
}
@media (max-width: 1440px) {
  .con-9 .con-title .poa-1 {
    margin-top: -161px;
    margin-left: -304px;
  }
}
.con-9 .con-title .poa-2 {
  width: 179px;
  margin-top: -260px;
  margin-left: 361px;
}
@media (max-width: 1440px) {
  .con-9 .con-title .poa-2 {
    margin-top: -214px;
    margin-left: 273px;
  }
}
.con-9 .con-title .poa-3 {
  width: 182.5px;
  margin-top: 222px;
  margin-left: -280px;
}
.con-9 .con-title .poa-4 {
  width: 263px;
  margin-top: 250px;
  margin-left: 310px;
}

.con-10 {
  padding-top: 136px;
  padding-bottom: 150px;
  background: #141316;
  transition: all 1s;
}
.con-10.on {
  background: #78ff48;
}
.con-10 .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .con-10 .inner {
    gap: 67px;
  }
}
.con-10 .img-wrap {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
@media (max-width: 1440px) {
  .con-10 .img-wrap {
    gap: 80px;
  }
}
.con-10 .img-wrap:nth-child(2) {
  margin-top: 150px;
}
.con-10 .img-wrap:nth-child(3) {
  margin-top: 500px;
}
.con-10 .img {
  width: 332px;
}
.con-10 .img img {
  box-shadow: 20px 15px 40px 0px rgba(0, 0, 0, 0.2), 20px 15px 40px 0px rgba(0, 0, 0, 0.2);
}
.con-10 .img .tx-4 {
  margin-top: 14px;
  color: #757575;
  text-align: center;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.con-11 {
  padding-top: 134px;
  padding-left: 40px;
  padding-right: 40px;
  background: #fa8cc0;
  transition: all 1s;
}
.con-11.on {
  background: #000;
}
.con-11 .inner {
  max-width: 1140px;
  margin: 0 auto;
}
.con-11 .img-wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: -100px;
  transform: translateY(177px);
}
.con-11 .img-wrap > div {
  width: 50%;
}
.con-11 .img-wrap .left {
  margin-top: 50px;
}
.con-11 .img-wrap .img-2 {
  width: 380.5px;
}

.con-12 {
  padding-top: 360px;
  margin-left: -40px;
  margin-right: -40px;
}
.con-12 .item-wrap {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 185px;
  padding-bottom: 250px;
  background-image: url(../assets/img_con12_1.png);
  background-repeat: no-repeat;
  background-position: top 115px center;
  background-size: 16.666666vw;
}
@media (max-width: 1440px) {
  .con-12 .item-wrap {
    gap: 35px;
    background-size: 20vw;
  }
}

.con-13 {
  padding-top: 134px;
  padding-bottom: 110px;
  background: #e59600;
  background-image: url(../assets/img_con13_2.png);
  background-repeat: no-repeat;
  background-position: center bottom 290px;
  background-size: contain;
  transition: all 1s;
}
.con-13 .img {
  width: 310px;
  margin: 52px auto 0;
}

.con-14 {
  padding: 90px 0;
  text-align: center;
  background: #f0ddab;
}
.con-14 img {
  width: 520px;
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}/*# sourceMappingURL=style.css.map */