@import url(../../../common/css/style.css);

@mixin md {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 1180px) {
    @content;
  }
}
img {
  max-width: 100%;
}
body {
  background: var(--neutral-gray-black, #000);
}
.h1 {
  h1 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 80px */
    letter-spacing: -0.8px;
    text-transform: uppercase;
  }
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.con-title {
  text-align: center;
  &.white {
    .tx-2 {
      color: #000;
      text-shadow: none;
      background: none;
      -webkit-text-fill-color: initial;
      text-transform: lowercase;
    }
    .tx-3 {
      color: #000;
    }
  }
  &.large {
    .tx-2 {
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Montserrat;
      font-size: 75px;
      font-style: normal;
      font-weight: 700;
      line-height: 90%; /* 67.5px */
      letter-spacing: -1px;
      text-transform: capitalize;
    }
  }
  & > img {
    width: 128px;
    margin: 0 auto 7px;
  }
  .tx-1 {
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    opacity: 0.3;
  }
  .tx-2 {
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 110% */
    letter-spacing: -1px;
    text-transform: capitalize;
    background: linear-gradient(
      107deg,
      #fff 65%,
      rgba(255, 255, 255, 0.43) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tx-3 {
    margin-top: 26px;
    color: #bdbdc0;
    text-align: center;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    &.white {
      color: #fff;
    }
  }
}
.h1 {
  h1 {
    color: #fff;
    text-align: center;
    font-family: KoPubWorldBatang;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
  }
}
.con-1 {
  padding-bottom: 70px;
  padding-bottom: 300px;
  text-align: center;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px;
  @include sm {
    padding-bottom: 200px;
  }
  .img {
    width: 117px;
    margin: 167px auto 270px;
  }
  .tx1 {
    margin-top: 720px;
    color: #e4e4e4;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
  }
}
.con-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 1080px;
  background-image: url(../assets/img_con2_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .con-title {
    .tx1 {
      color: #757575;
      text-align: center;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }
    .tx2 {
      margin-top: 12px;
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 75px;
      font-style: italic;
      font-weight: 400;
      line-height: 115%; /* 86.25px */
      letter-spacing: -0.75px;
      text-transform: uppercase;
      @include sm {
        color: #f4f3e9;
        text-align: center;
        text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.07);
        font-family: Cormorant;
        font-size: 60px;
        font-style: italic;
        font-weight: 400;
        line-height: 115%; /* 69px */
        letter-spacing: -0.6px;
        text-transform: uppercase;
      }
      span {
        color: #f4f3e9;
        font-family: Cormorant;
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        letter-spacing: -0.75px;
        text-transform: uppercase;
        @include sm {
          color: #f4f3e9;
          font-family: Cormorant;
          font-size: 60px;
          font-style: normal;
          font-weight: 400;
          line-height: 115%;
          letter-spacing: -0.6px;
          text-transform: uppercase;
        }
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .tx {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;
        & > div {
          padding: 12px 24px;
          border-radius: 100px;
          background: rgba(63, 63, 63, 0.4);
          backdrop-filter: blur(10px);
        }
        .tx3 {
          margin-left: 18px;
        }
      }
      &-1 {
        width: calc(576px / 2);
        margin-left: -318px;
        margin-top: -355px;
        @include sm {
          margin-left: -222px;
          margin-top: -315px;
        }
        .tx {
          bottom: 32px;
          right: -175px;
        }
      }
      &-2 {
        width: calc(632px / 2);
        margin-left: 624px;
        margin-top: 0;
        @include sm {
          margin-left: 435px;
          margin-top: 40px;
        }
        .tx {
          bottom: 45px;
          left: -55px;
        }
      }
      &-3 {
        width: calc(514px / 2);
        margin-left: -473px;
        margin-top: 360px;
        @include sm {
          margin-left: -355px;
          margin-top: 317px;
        }
        .tx {
          top: 44px;
          right: -235px;
        }
      }
    }
    .tx {
      position: absolute;
    }
    .tx3 {
      color: #aaa;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
    }
    .tx4 {
      color: #aaa;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
    }
  }
}
.con-3 {
  height: 1094px;
  margin-top: 150px;
  padding-top: 140px;
  background-image: url(../assets/img_con3_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include sm {
    margin-top: 100px;
    padding-top: 100px;
  }
  .con-title {
    .tx1 {
      color: #757575;
      text-align: center;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
      letter-spacing: 0.7px;
      text-transform: uppercase;
      @include sm {
        color: #757575;
        text-align: center;
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 12px */
        letter-spacing: 0.6px;
        text-transform: uppercase;
      }
    }
    .tx2 {
      margin-top: 20px;
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 75px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 82.5px */
      letter-spacing: -1px;
      text-transform: uppercase;
      @include sm {
        margin-top: 15px;
        color: #f4f3e9;
        text-align: center;
        text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.07);
        font-family: Cormorant;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 66px */
        letter-spacing: -0.75px;
        text-transform: uppercase;
      }
      span {
        color: #f4f3e9;
        font-family: Cormorant;
        font-size: 75px;
        font-style: italic;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -1px;
        text-transform: uppercase;
        @include sm {
          color: #f4f3e9;
          font-family: Cormorant;
          font-size: 60px;
          font-style: italic;
          font-weight: 400;
          line-height: 110%;
          letter-spacing: -0.75px;
          text-transform: uppercase;
        }
      }
    }
    .tx3 {
      margin-top: 48px;
      color: #fff;
      text-align: center;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      @include sm {
        margin-top: 27px;
      }
    }
  }
  .img {
    position: relative;
    width: 400px;
    margin: 80px auto 0;
    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 180px;
      height: 1px;
      &.on {
        &::after {
          right: 0;
        }
      }
      &::after {
        position: absolute;
        inset: 0;
        right: 100%;
        background: #fff;
        transition: all 1s;
        content: "";
      }
    }
  }
}
.con-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  .item {
    height: 280px;
    padding: 32px 0;
    text-align: center;
    background: #000;
    &.violet {
      background: #5c35b0;
      .tx1 {
        margin-bottom: 44px;
      }
      .tx3 {
        opacity: 1;
      }
    }
    .tx1 {
      margin-bottom: 74px;
      color: #f7f7ef;
      text-align: center;
      font-family: Cormorant;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      text-transform: uppercase;
      opacity: 0.3;
    }
    .tx2 {
      margin-bottom: 12px;
      color: #f7f7ef;
      text-align: center;
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 21.6px */
    }
    .tx3 {
      color: #f7f7ef;
      text-align: center;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      opacity: 0.7;
    }
  }
}
.con-5 {
  padding-top: 200px;
  height: 800px;
  background-image: url(../assets/img_con5_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  @include sm {
    height: auto;
    padding-top: 150px;
  }
  .tx1 {
    color: #f4f3e9;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
    font-family: Cormorant;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%; /* 35.2px */
    letter-spacing: -1px;
    text-transform: uppercase;
    @include sm {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 24px;
      font-style: italic;
      font-weight: 400;
      line-height: 110%; /* 26.4px */
      letter-spacing: -0.75px;
      text-transform: uppercase;
    }
  }
  .tx2 {
    margin-top: 2px;
    color: #f4f3e9;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
    font-family: Cormorant;
    font-size: 75px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%; /* 82.5px */
    letter-spacing: -1px;
    text-transform: uppercase;
    @include sm {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 60px;
      font-style: italic;
      font-weight: 400;
      line-height: 110%; /* 66px */
      letter-spacing: -0.75px;
      text-transform: uppercase;
    }
  }
  .tx3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    span {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 18.2px */
      text-transform: uppercase;
      opacity: 0.6;
    }
  }
  .img {
    position: relative;
    width: 404px;
    margin: 70px auto 90px;
    @include sm {
      margin-top: 50px;
      margin-bottom: 70px;
    }
    .flame {
      position: absolute;
      top: 50%;
      left: 50%;
      &-1 {
        width: 46px;
        margin-left: -128px;
        margin-top: -24px;
      }
      &-2 {
        width: 53px;
        margin-left: 91px;
        margin-top: -55px;
      }
    }
  }
}
.con-6 {
  padding-top: 250px;
  @include sm {
    padding-top: 150px;
  }
  .con-title {
    .tx1 {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 40px;
      font-style: italic;
      font-weight: 700;
      line-height: 130%; /* 52px */
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 0.4;
      @include sm {
        color: #f4f3e9;
        text-align: center;
        text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.07);
        font-family: Cormorant;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        line-height: 130%; /* 39px */
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
    }
    .tx2 {
      margin-top: 5px;
      color: #f4f3e9;
      text-align: center;
      font-family: Pretendard;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 66px */
      text-transform: uppercase;
      @include sm {
        color: #f4f3e9;
        text-align: center;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 52.8px */
        text-transform: uppercase;
      }
    }
    .tx3 {
      margin-top: 32px;
      color: #fff;
      text-align: center;
      font-family: SUIT;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      text-transform: uppercase;
      opacity: 0.7;
      @include sm {
        margin-top: 24px;
      }
    }
  }
}
.con-7 {
  .item-wrap {
    display: flex;
    justify-content: center;
    gap: 130px;
    max-width: 1220px;
    margin: 120px auto 0;
    @include sm {
      gap: 60px;
    }
    .item {
      @include sm {
        width: 285px;
      }
      &:nth-child(1) {
        margin-top: 585px;
      }
      &:nth-child(2) {
        .img {
          & + .img {
            margin-top: 135px;
            @include sm {
              margin-top: 90px;
            }
          }
        }
      }
      &:nth-child(3) {
        margin-top: 144px;
        .img {
          & + .img {
            margin-top: 335px;
            @include sm {
              margin-top: 220px;
            }
          }
        }
      }
      .tx4 {
        margin-top: 12px;
        color: #fff;
        text-align: center;
        text-shadow: 0px 0.8421052694320679px 0px rgba(0, 0, 0, 0.07);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
        letter-spacing: 0.842px;
        text-transform: uppercase;
        @include sm {
          color: #fff;
          text-align: center;
          text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.07);
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 18.2px */
          text-transform: uppercase;
        }
      }
    }
  }
}
.con-8 {
  margin-top: 240px;
  padding-bottom: 200px;
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
  .img {
    max-width: 1280px;
    margin: 80px auto 48px;
    padding-top: 58px;
    background-color: #1a1a1a;
    border-radius: 11px;
    text-align: center;
    img {
      width: calc(746px / 2);
    }
  }
  .img2 {
    width: 392px;
    margin: 0 auto;
  }
}
.con-9 {
  padding-top: 160px;
  background: #5c35b0;
  .con-title .tx1 {
    color: #f4f3e9;
    opacity: 1;
  }
  .img {
    width: 626px;
    margin: 52px auto 0;
    --animate-duration: 2s;
  }
}
.con-10 {
  position: relative;
  height: 360px;
  overflow: hidden;
  .inner {
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    margin: 0 auto;
  }
}
.con-11 {
  height: 900px;
  background-image: url(../assets/img_con11_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.on {
  .con-12 .poa-inner {
    display: block;
  }
}
.con-12 {
  .con-title {
    margin-top: 160px;
    .tx1 {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 32px;
      font-style: italic;
      font-weight: 400;
      line-height: 110%; /* 35.2px */
      letter-spacing: -1px;
      text-transform: uppercase;
      @include sm {
        color: #f4f3e9;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
        font-family: Cormorant;
        font-size: 30px;
        font-style: italic;
        font-weight: 400;
        line-height: 110%; /* 33px */
        letter-spacing: -1px;
        text-transform: uppercase;
      }
    }
    .tx2 {
      margin-top: 2px;
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 75px;
      font-style: italic;
      font-weight: 400;
      line-height: 110%; /* 82.5px */
      letter-spacing: -1px;
      text-transform: uppercase;
      @include sm {
        color: #f4f3e9;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
        font-family: Cormorant;
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
        line-height: 110%; /* 52.8px */
        letter-spacing: -1px;
        text-transform: uppercase;
      }
    }
  }
  .con-inner {
    .con {
      width: 1230px;
      height: 1080px;
      margin: 0 auto;
      padding-bottom: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1920px;
      @include md {
        width: 1180px;
        background-size: cover;
      }
    }
  }
  .poa-inner {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    padding-top: 200px;
    transition: all 0.3s;
  }
  .poa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 60px;
    padding: 0 60px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #1a1a1a;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
    &.con-13-text {
      .tx2 {
        &::after {
          content: "1. 테마 별 구독 서비스 기획";
        }
      }
    }
    &.con-14-text {
      .tx2 {
        &::after {
          content: "2. 와인 정보 소개";
        }
      }
    }
    &.con-15-text {
      .tx2 {
        &::after {
          content: "3. 구독 옵션 선택 및 결제";
        }
      }
    }
    &.con-16-text {
      .tx2 {
        &::after {
          content: "4. 서비스 후기 작성 & 구독 현황";
        }
      }
    }
    .tx1 {
      color: #757575;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 19.2px */
      letter-spacing: -0.16px;
      text-transform: capitalize;
    }
    .tx2 {
      color: #eee;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 19.2px */
      text-transform: capitalize;
    }
  }
}
.con-13 {
  background-image: url(../assets/img_con12_1.png);
  @include md {
    height: 977px !important;
    background-image: url(../assets/img_con12_1_0.png);
  }
}
.con-14 {
  background-image: url(../assets/img_con12_2.png);
  @include md {
    height: 979px !important;
    background-image: url(../assets/img_con12_2_0.png);
  }
}
.con-15 {
  background-image: url(../assets/img_con12_3.png);
  @include md {
    height: 975px !important;
    background-image: url(../assets/img_con12_3_0.png);
  }
}
.con-16 {
  background-image: url(../assets/img_con12_4.png);
  @include md {
    height: 1076px !important;
    background-image: url(../assets/img_con12_4_0.png);
  }
}
.con-17 {
  position: relative;
  z-index: 11;
  padding: 160px 0;
  background: #5c35b0;
  .img-wrap {
    display: flex;
    justify-content: center;
    gap: 52px;
    max-width: 1200px;
    margin: 100px auto 0;
    padding-left: 40px;
    padding-right: 40px;
    @include sm {
      flex-direction: column;
      gap: 35px;
      transform: translateY(285px);
      margin-top: -160px;
      padding-left: 80px;
      padding-right: 80px;
    }
    img {
      width: 280 + 280 + 16px;
      filter: drop-shadow(
        0px 9.333333969116211px 95.66667175292969px rgba(0, 0, 0, 0.25)
      );
    }
    .right {
      transform: translateY(285px);
      @include sm {
        transform: translateY(0);
        text-align: right;
      }
    }
  }
  .con-title {
    .tx1 {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 32px;
      font-style: italic;
      font-weight: 700;
      line-height: 130%; /* 41.6px */
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .tx2 {
      margin-top: 5px;
      color: #f4f3e9;
      text-align: center;
      font-family: Pretendard;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 66px */
      text-transform: uppercase;
    }
    .tx3 {
      margin-top: 32px;
      color: #fff;
      text-align: center;
      font-family: SUIT;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      text-transform: uppercase;
      opacity: 0.7;
    }
  }
}
.con-18 {
}
.con-19 {
  padding-top: 160px;
  padding-bottom: 80px;
  @include sm {
    padding-top: 140px;
  }
  .con-title {
    .tx1 {
      color: #f4f3e9;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
      font-family: Cormorant;
      font-size: 75px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 82.5px */
      letter-spacing: -1px;
      text-transform: uppercase;
      @include sm {
        color: #f4f3e9;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
        font-family: Cormorant;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 66px */
        letter-spacing: -1px;
        text-transform: uppercase;
      }
      span {
        color: #f4f3e9;
        font-family: Cormorant;
        font-size: 75px;
        font-style: italic;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -1px;
        text-transform: uppercase;
        @include sm {
          color: #f4f3e9;
          font-family: Cormorant;
          font-size: 60px;
          font-style: italic;
          font-weight: 400;
          line-height: 110%;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
      }
    }
    .tx2 {
      margin-top: 48px;
      color: #fff;
      text-align: center;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      @include sm {
        margin-top: 32px;
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
    }
  }
  .img {
    margin-top: 88px;
    .sm {
      display: none;
    }
    @include sm {
      .lg {
        display: none;
      }
      .sm {
        display: block;
      }
    }
  }
}
