@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard/woff2/Pretendard-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard/woff2/Pretendard-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard/woff2/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard/woff2/Pretendard-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard/woff2/Pretendard-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Jalnan";
  src: url(../fonts/Jalnan/Jalnan.ttf) format("truetype");
}
* {
  box-sizing: border-box;
}

button {
  padding: 0;
  background: none;
  border: none;
  font-size: 14px;
  font-family: "Pretendard";
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Pretendard";
  background: #f6641f;
}

.wrapper {
  overflow-x: hidden;
}

.conTitle {
  color: #222;
  font-family: Jalnan;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.8px;
}

.conInner {
  max-width: 1440px;
  margin: 0 auto;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 11;
}
.sideMenu a {
  display: flex;
  align-items: center;
  color: #ffd8c5;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.72px;
}
.sideMenu a::before {
  display: flex;
  order: 1;
  width: 23px;
  height: 1px;
  background: #ffaf89;
  opacity: 0;
  content: "";
}
.sideMenu a::after {
  display: flex;
  order: 2;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #ffaf89;
  content: "";
}
.sideMenu a span {
  order: 3;
  margin-left: 20px;
}
.sideMenu a.on {
  color: #fff;
  font-weight: 700;
}
.sideMenu a.on::before {
  opacity: 1;
}
.sideMenu a.on::after {
  width: 8.5px;
  height: 6px;
  background: none;
  background-image: url(../img/icon_bullet_1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  padding: 30px 0;
  background: rgba(246, 100, 31, 0.9);
}
.header .conInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  gap: 45px;
}
.header .menu a {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}
.header .rightBtn a {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.7px;
  border-radius: 40px;
  border: 1px solid #ffa981;
}

.con0 {
  position: relative;
  min-height: 1200px;
}
.con0 .btnScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.con1 {
  overflow: hidden;
  border-radius: 60px;
  background: #f7f7f7;
}

.con2 {
  padding: 120px 0;
  background-image: url(../img/img_bg_1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  border-radius: 60px;
}
.con2 .top {
  display: flex;
  justify-content: space-between;
}
.con2 .top .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.con2 .top .left .tabHeader button {
  color: #979797;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}
.con2 .top .left .tabHeader button.on {
  color: #f6641f;
  font-weight: 700;
}
.con2 .top .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  padding: 5px;
  border-radius: 300px;
  border: 1px solid #e2e2e2;
}
.con2 .top .right .date {
  display: flex;
  gap: 13px;
}
.con2 .top .right .date span {
  color: #222;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.con2 .top .right .arrow {
  width: 44px;
  height: 44px;
  color: #d4d4d4;
  font-family: Jalnan;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #f9f9f9;
  border-radius: 50%;
}
.con2 .bottom {
  margin-top: 58px;
}
.con2 .bottom .week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  height: 60px;
  background: #f9f9f9;
  border-radius: 16px 16px 0 0;
}
.con2 .bottom .week span {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.con2 .bottom .month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  border: 1px solid #e9e9e9;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  background-color: #e9e9e9;
}
.con2 .bottom .day {
  position: relative;
  height: 160px;
  padding: 25px 35px;
  text-align: right;
  background-color: #fff;
  color: #939393;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.con2 .bottom .day.bar.start::after {
  left: 15px;
  border-radius: 100px 0 0 100px;
}
.con2 .bottom .day.bar.end::after {
  right: 15px;
  border-radius: 0 100px 100px 0;
}
.con2 .bottom .day.bar.blue::after {
  background: #74b5ff;
}
.con2 .bottom .day.bar.yellow::after {
  background: #ffda57;
}
.con2 .bottom .day.bar.text::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  content: "휴무";
}
.con2 .bottom .day.bar.text.yellow::after {
  color: #3d3d3d;
}
.con2 .bottom .day.bar.text.blue::after {
  color: #fff;
}
.con2 .bottom .day.bar::after {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  height: 40px;
  content: "";
}

.con3 {
  padding-top: 150px;
}
.con3 .top {
  display: flex;
  align-items: center;
}
.con3 .top .conTitle {
  position: relative;
}
.con3 .top .conTitle span {
  position: relative;
  z-index: 2;
}
.con3 .top .conTitle::before {
  position: absolute;
  top: -60px;
  left: -70px;
  z-index: 1;
  width: 122px;
  height: 108px;
  background-image: url(../img/img_bullet_3.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}
.con3 .top .moreBtn {
  color: #222;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.7px;
}
.con3 .table {
  margin-top: 50px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.con3 .table .tr {
  display: flex;
}
.con3 .table .tr + .tr {
  border-top: 1px solid #dedede;
}
.con3 .table .tr .tx1 {
  width: 120px;
  text-align: center;
  color: #222;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 500% */
  letter-spacing: -0.8px;
}
.con3 .table .tr .tx2 {
  flex: 1;
  padding-right: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #848484;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 500% */
  letter-spacing: -0.8px;
}
.con3 .table .tr .tx3 {
  width: 100px;
  color: #9b9b9b;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 571.429% */
  letter-spacing: -0.7px;
}

.con4 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.con4 .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.con4 .top .tx1 {
  position: relative;
  margin-top: 12px;
  color: #9d9d9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.78px;
}
.con4 .top .tx1::before {
  position: absolute;
  top: -110px;
  left: -150px;
  width: 155px;
  height: 158px;
  background-image: url(../img/img_arrow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}
.con4 .bottom {
  position: relative;
  width: 1430px;
  margin: 60px auto 0;
}
.con4 .bottom::after {
  position: absolute;
  bottom: -30px;
  right: 40px;
  z-index: 1;
  width: 70px;
  height: 65px;
  background-image: url(../img/img_bullet_2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}
.con4 .bottom .box {
  padding: 60px;
  border-radius: 16px;
}
.con4 .bottom .box.blue {
  background: #74b5ff;
}
.con4 .bottom .box.blue .tx4 {
  color: #2c4e75;
}
.con4 .bottom .box.yellow {
  background: #ffda57;
}
.con4 .bottom .box.yellow .tx4 {
  color: #756322;
}
.con4 .bottom .box .userWrap {
  display: flex;
  align-items: center;
}
.con4 .bottom .box .userWrap .img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
.con4 .bottom .box .tx2 {
  color: #222;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  letter-spacing: -0.9px;
}
.con4 .bottom .box .tx3 {
  color: #222;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.9px;
}
.con4 .bottom .box .tx4 {
  margin-top: 30px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: -0.8px;
}
.con4 .mySwiper01 {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #afafaf;
  font-family: Jalnan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "<";
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: ">";
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -80px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -80px;
}

.con5 {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/img_bg_2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.con5 .top {
  display: flex;
  align-items: center;
  gap: 30px;
}
.con5 .tabHeader a {
  color: #fff;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}
.con5 .tabHeader a.on {
  font-weight: 700;
}
.con5 .tableHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  margin-top: 50px;
  border-radius: 16px 16px 0px 0px;
  background: #444;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.1px;
}
.con5 .table {
  display: flex;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  background-color: #ececec;
}
.con5 .table .tx1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #fff;
  color: #a3a3a3;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.con6 {
  background-color: #2e2e2e;
  border-radius: 60px 60px 0 0;
}

.con7 {
  padding: 120px 0;
  border-radius: 60px;
  background-color: #f7f7f7;
}
.con7 .mySwiper02 {
  position: relative;
}
.con7 .left {
  width: 330px;
}
.con7 .right {
  flex: 1;
}
.con7 .right img {
  width: 100%;
}
.con7 .top {
  margin-bottom: 52px;
  text-align: center;
}
.con7 .top .tx1 {
  margin-top: 18px;
  color: #a7a7a7;
  text-align: center;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.78px;
}
.con7 .conInner {
  position: relative;
}
.con7 .conInner::after {
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: 1;
  width: 138px;
  height: 144px;
  background-image: url(../img/img_bullet_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}
.con7 .swiper-slide {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
}
.con7 .swiper-slide .tabHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  height: 100%;
}
.con7 .swiper-slide .tabHeader a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex: 1;
  background-color: #fff;
}
.con7 .swiper-slide .tabHeader a.on {
  background-color: #f6641f;
}
.con7 .swiper-slide .tabHeader a.on span:nth-child(1) {
  color: #fff;
}
.con7 .swiper-slide .tabHeader a.on span:nth-child(2) {
  color: #fff;
}
.con7 .swiper-slide .tabHeader a span:nth-child(1) {
  color: #626262;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.9px;
}
.con7 .swiper-slide .tabHeader a span:nth-child(2) {
  width: 80px;
  color: #626262;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.9px;
}

.con8 {
  padding-top: 100px;
  padding-bottom: 120px;
}
.con8 .conTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #fff;
}
.con8 .acco {
  margin-top: 52px;
}

.acco {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.accoItem + .accoItem {
  border-top: 1px solid #404040;
}

.accoHeader {
  display: flex;
  position: relative;
  cursor: pointer;
}
.accoHeader::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../img/icon_arrow_bottom_2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.3s;
  content: "";
}
.accoHeader .tx1 {
  width: 120px;
  padding-left: 30px;
  color: #7c7c7c;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 79px; /* 493.75% */
  letter-spacing: -0.8px;
}
.accoHeader .tx2 {
  flex: 1;
  padding-right: 100px;
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 79px; /* 493.75% */
  letter-spacing: -0.8px;
}
.accoHeader.on::after {
  transform: translateY(-50%) rotate(180deg);
}
.accoHeader.on + .accoContent {
  display: block;
}

.accoContent {
  display: none;
  padding-left: 120px;
  padding-right: 140px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #010000;
  color: #b9b9b9;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: -0.8px;
}

.footer {
  padding-top: 60px;
  border-radius: 60px 60px 0px 0px;
  background: #fff;
}
.footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .top .right {
  display: flex;
  gap: 22px;
}
.footer .top .right a {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
  letter-spacing: -0.7px;
}
.footer .bottom {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer .bottom .itemWrap {
  display: flex;
  flex-direction: column;
}
.footer .bottom .itemWrap:nth-child(2) .item .tx1 {
  width: 180px;
}
.footer .bottom .itemWrap:nth-child(3) .item .tx1 {
  width: 320px;
}
.footer .bottom .itemWrap .item {
  display: flex;
  gap: 30px;
}
.footer .bottom .itemWrap .item .tx1 {
  width: 110px;
  color: #989898;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
  letter-spacing: -0.7px;
}
.footer .bottom .itemWrap .item .tx2 {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
  letter-spacing: -0.7px;
}
.footer .copy {
  padding: 15px 0;
  border-top: 1px solid #d4d4d4;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 283.333% */
}

.tabHeader {
  display: flex;
  gap: 20px;
}
.tabHeader.white a {
  color: #fff;
}
.tabHeader.white a.on {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.tabHeader a {
  padding: 4px 0;
  color: #979797;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}
.tabHeader a.on {
  color: #f6641f;
  font-weight: 700;
  border-bottom: 2px solid #f6641f;
}

.tabContainer .item {
  display: none;
}
.tabContainer .item.on {
  display: block;
}/*# sourceMappingURL=style.css.map */