@import url(reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.cdnfonts.com/css/travel-november");
@import url("https://webfontworld.github.io/naver/MaruBuri.css");

@mixin md {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 1180px) {
    @content;
  }
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  vertical-align: top;
}
body {
  font-size: 14px;
  font-family: "MaruBuri", "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #000;
  line-height: 1.2;
}

.w1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @include md {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include sm {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.travelFont {
  font-family: "Travel November", sans-serif;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  .w1440 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}
