@import url(reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.cdnfonts.com/css/travel-november");
@import url("https://webfontworld.github.io/naver/MaruBuri.css");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: top;
}

body {
  font-size: 14px;
  font-family: "MaruBuri", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #000;
  line-height: 1.2;
}

.w1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .w1440 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1180px) {
  .w1440 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.travelFont {
  font-family: "Travel November", sans-serif;
}

.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conTitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #866552;
}
.conTitle .title {
  font-size: 40px;
}
.conTitle .subTitle {
  display: flex;
  gap: 5px;
  font-size: 16px;
}
.conTitle .subTitle .tag {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid #866552;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.header .w1440 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .right > div {
  display: flex;
  align-items: center;
  height: 35px;
  padding-right: 15px;
  padding-left: 45px;
  border-radius: 999px;
  border: 1px solid #fff;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left 15px center;
  cursor: pointer;
}
.header .right .btnMenu {
  background-image: url(../img/icon_menu.png);
}
.header .right .btnReservation {
  background-image: url(../img/icon_clock.png);
}
.header .menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  width: 915px;
  height: 915px;
  border-radius: 50%;
  background-color: #fdfcf4;
  transition: 0.8s;
}
.header .menu.active {
  transform: translate(20%, -20%);
}
.header .menu .menuClose {
  position: absolute;
  right: 25%;
  top: 25%;
  cursor: pointer;
}

.con0 {
  position: relative;
}
.con0 .tx1 {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #fff;
}
@media (max-width: 1440px) {
  .con0 .tx1 {
    bottom: 60px;
    font-size: 20px;
  }
}
.con0 .swiperNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
@media (max-width: 1440px) {
  .con0 .swiperNavi {
    gap: 40px;
  }
}
.con0 .swiperNavi .bar {
  width: 1px;
  height: 90px;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .con0 .swiperNavi .bar {
    height: 40px;
  }
}
.con0 .swiper-button-next,
.con0 .swiper-button-prev {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  inset: 0;
  width: auto;
  height: auto;
  margin: 0;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1440px) {
  .con0 .swiper-button-next,
  .con0 .swiper-button-prev {
    font-size: 14px;
  }
  .con0 .swiper-button-next img,
  .con0 .swiper-button-prev img {
    width: 16px;
  }
}
.con0 .swiper-button-next:after,
.con0 .swiper-rtl .swiper-button-prev:after,
.con0 .swiper-button-prev:after,
.con0 .swiper-rtl .swiper-button-next:after {
  display: none;
}

.con1 {
  padding-top: 280px;
  padding-bottom: 35px;
  text-align: center;
}
.con1 .img {
  position: relative;
  width: 570px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
.con1 .img img {
  border-radius: 50%;
}
.con1 .tx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: #e1d7cd;
  white-space: nowrap;
}

.con2 {
  padding-top: 45px;
  text-align: center;
  overflow: hidden;
}
.con2 .conTitle .subTitle {
  justify-content: center;
}
.con2 .imgRolling {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  padding-bottom: 170px;
}/*# sourceMappingURL=style.css.map */