@import url(reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.cdnfonts.com/css/travel-november");
@import url("https://webfontworld.github.io/naver/MaruBuri.css");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: top;
}

body {
  font-size: 14px;
  font-family: "MaruBuri", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #000;
  line-height: 1.2;
  background-color: #fdfcf4;
  overflow-x: hidden;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.w1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .w1440 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1180px) {
  .w1440 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.travelFont {
  font-family: "Travel November", sans-serif;
}

.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conTitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #866552;
}
.conTitle .title {
  font-size: 40px;
}
.conTitle .subTitle {
  display: flex;
  gap: 5px;
  font-size: 16px;
}
.conTitle .subTitle .tag {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid #866552;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.header .w1440 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .right > div {
  display: flex;
  align-items: center;
  height: 35px;
  padding-right: 15px;
  padding-left: 45px;
  border-radius: 999px;
  border: 1px solid #fff;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left 15px center;
  cursor: pointer;
}
.header .right .btnMenu {
  background-image: url(../img/icon_menu.png);
}
.header .right .btnReservation {
  background-image: url(../img/icon_clock.png);
}
.header .menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  width: 915px;
  height: 915px;
  padding-top: 300px;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 50%;
  background-color: #fdfcf4;
  transition: 0.8s;
}
.header .menu.active {
  transform: translate(150px, -190px);
}
.header .menu .menuClose {
  position: absolute;
  right: 200px;
  top: 25%;
  cursor: pointer;
}
.header .menu .menuInner {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .menu .menuInner a {
  font-weight: 600;
  color: #866552;
}
.header .menu .menuInner .depth_1 a {
  font-size: 16px;
}
.header .menu .menuInner .depth_1 a.yellow {
  color: #dc970e;
}
.header .menu .menuInner .depth_2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;
  margin-top: 30px;
  padding-left: 15px;
}
.header .menu .menuInner .depth_2 a {
  font-size: 14px;
}
.header .menu .btnReservation {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 58px;
  margin-top: 60px;
  padding-left: 90px;
  padding-right: 70px;
  background-image: url(../img/icon_clock.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-color: #866552;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}
.header .menu .btnReservation::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 1px solid #866552;
}

.con0 {
  position: relative;
}
.con0 .tx1 {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #fff;
}
@media (max-width: 1440px) {
  .con0 .tx1 {
    bottom: 60px;
    font-size: 20px;
  }
}
.con0 .swiperNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
@media (max-width: 1440px) {
  .con0 .swiperNavi {
    gap: 40px;
  }
}
.con0 .swiperNavi .bar {
  width: 1px;
  height: 90px;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .con0 .swiperNavi .bar {
    height: 40px;
  }
}
.con0 .swiper-button-next,
.con0 .swiper-button-prev {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  inset: 0;
  width: auto;
  height: auto;
  margin: 0;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1440px) {
  .con0 .swiper-button-next,
  .con0 .swiper-button-prev {
    font-size: 14px;
  }
  .con0 .swiper-button-next img,
  .con0 .swiper-button-prev img {
    width: 16px;
  }
}

.con1 {
  padding-top: 280px;
  padding-bottom: 35px;
  text-align: center;
}
.con1 .img {
  position: relative;
  width: 570px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
.con1 .img img {
  border-radius: 50%;
}
.con1 .tx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: #e1d7cd;
  white-space: nowrap;
}

.con2 {
  padding-top: 45px;
  text-align: center;
  overflow: hidden;
}
.con2 .conTitle .subTitle {
  justify-content: center;
}
.con2 .imgRolling {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  padding-bottom: 170px;
}

.con3 {
  position: relative;
  padding-bottom: 50px;
}
.con3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 40%;
  background-color: #f6f2e7;
}
.con3 .swiper {
  text-align: center;
  margin-top: 35px;
}
.con3 .swiper .tx {
  margin-top: 85px;
  color: #6f5847;
}
.con3 .swiper .tx .tx1 {
  font-size: 24px;
  font-weight: 600;
}
.con3 .swiper .tx .tx2 {
  margin-top: 15px;
  font-size: 16px;
}
.con3 .swiper .swiperNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 150px;
  height: 60px;
  background-color: #6f5847;
  border-radius: 15px;
}
.con3 .swiper .swiperNavi .bar {
  width: 1px;
  height: 28px;
  margin: 0 10px;
  background-color: #e1d7cd;
}
.con3 .swiper .swiper-button-next,
.con3 .swiper .swiper-button-prev {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  inset: 0;
  width: auto;
  height: auto;
  margin: 0;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1440px) {
  .con3 .swiper .swiper-button-next,
  .con3 .swiper .swiper-button-prev {
    font-size: 14px;
  }
  .con3 .swiper .swiper-button-next img,
  .con3 .swiper .swiper-button-prev img {
    width: 16px;
  }
}

.con4 {
  padding-top: 360px;
  padding-bottom: 400px;
}
.con4 .w1440 {
  position: relative;
}
.con4 .conTitle {
  width: 360px;
  text-align: center;
}
.con4 .conTitle .subTitle {
  justify-content: center;
}
.con4 .swiper {
  position: absolute;
  left: 600px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.con4 .swiper .swiper-slide {
  width: 400px;
  margin-right: 40px;
}
.con4 .tx {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  color: #866552;
}
.con4 .swiperNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color: #6f5847;
  border-radius: 15px;
}
.con4 .swiperNavi .bar {
  width: 1px;
  height: 28px;
  margin: 0 10px;
  background-color: #e1d7cd;
}
.con4 .swiper-button-next,
.con4 .swiper-button-prev {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  inset: 0;
  width: auto;
  height: auto;
  margin: 0;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1440px) {
  .con4 .swiper-button-next,
  .con4 .swiper-button-prev {
    font-size: 14px;
  }
  .con4 .swiper-button-next img,
  .con4 .swiper-button-prev img {
    width: 16px;
  }
}/*# sourceMappingURL=style.css.map */