@import url(../../../common/css/style.css);
img {
  max-width: 100%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  transition: all 2s;
  background: #fffef6;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.con-1 {
  height: 900px;
  background-image: url(../assets/img_con1_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.con-2 {
  padding: 60px 60px 180px;
}
@media (max-width: 1440px) {
  .con-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.con-2 .img {
  width: 62px;
}
.con-2 .text-1 {
  margin-top: 20px;
  color: #222;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%; /* 61.44px */
  letter-spacing: -0.3px;
  text-transform: capitalize;
}
.con-2 .text-2 {
  margin-top: 20px;
  color: #4b4b4b;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%; /* 28.44px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.con-3 {
  display: flex;
}
.con-3 .img {
  width: 50%;
  overflow: hidden;
}

.con-4 {
  position: relative;
  z-index: 1;
  padding-top: 180px;
  background: #ffc33a;
  text-align: center;
}
.con-4 .bg {
  position: absolute;
}
.con-4 .bg-1 {
  top: 0;
  right: 0;
  width: 465px;
}
@media (max-width: 1440px) {
  .con-4 .bg-1 {
    right: -190px;
  }
}
.con-4 .bg-2 {
  top: 50px;
  left: 360px;
  width: 134.5px;
}
@media (max-width: 1440px) {
  .con-4 .bg-2 {
    left: 160px;
  }
}
.con-4 .bg-3 {
  top: 660px;
  right: 190px;
  width: 134px;
}
@media (max-width: 1440px) {
  .con-4 .bg-3 {
    right: -30px;
  }
}
.con-4 .bg-4 {
  bottom: -85px;
  left: 0;
  width: 397.5px;
}
@media (max-width: 1440px) {
  .con-4 .bg-4 {
    left: -80px;
  }
}
.con-4 .bg-5 {
  bottom: 800px;
  left: 0;
  width: 269.5px;
}
@media (max-width: 1440px) {
  .con-4 .bg-5 {
    bottom: 700px;
    left: -70px;
  }
}
.con-4 .text-wrap {
  position: relative;
  z-index: 1;
}
.con-4 .text-wrap .text-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 52px;
  margin: 0 auto 24px;
  background-color: #fff;
  color: #965c34;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  border-radius: 50%;
}
.con-4 .text-wrap .text-2 {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 79.2px */
  letter-spacing: -0.72px;
  text-transform: lowercase;
}
@media (max-width: 1440px) {
  .con-4 .text-wrap .text-2 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 70.4px */
    letter-spacing: -0.64px;
    text-transform: lowercase;
  }
}
.con-4 .text-wrap .text-3 {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 28.44px */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.con-4 .circle-wrap {
  position: relative;
  z-index: 1;
  width: 1112px;
  margin: 110px auto 0;
}
@media (max-width: 1440px) {
  .con-4 .circle-wrap {
    width: 868px;
    padding-bottom: 120px;
  }
}
.con-4 .circle-wrap .only-tablet {
  display: none;
}
@media (max-width: 1440px) {
  .con-4 .circle-wrap .only-tablet {
    display: block;
  }
  .con-4 .circle-wrap .only-pc {
    display: none;
  }
}

.con-5 {
  position: relative;
  padding-top: 180px;
  padding-bottom: 300px;
  text-align: center;
  background: #005d00;
  transition: all 2s;
}
@media (max-width: 1440px) {
  .con-5 {
    padding-bottom: 200px;
  }
}
.con-5 .bg-1 {
  position: absolute;
  top: -60px;
  right: 320px;
  width: 180px;
}
@media (max-width: 1440px) {
  .con-5 .bg-1 {
    right: 100px;
  }
}
.con-5 .h2 .tx-1 {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  opacity: 0.4;
}
.con-5 .h2 .tx-2 span:nth-child(1) {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.con-5 .h2 .tx-2 span:nth-child(2) {
  color: #fff;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 66px */
  letter-spacing: -0.6px;
  text-transform: lowercase;
}
.con-5 .box-wrap {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-top: 30px;
  padding-top: 115px;
  background-image: url(../assets/img_con5_2.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1056px;
}
@media (max-width: 1440px) {
  .con-5 .box-wrap {
    gap: 10px;
    background-size: 800px;
  }
}
.con-5 .box-wrap .box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 480px;
  height: 480px;
  padding: 48px 0 35px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .con-5 .box-wrap .box {
    width: 360px;
    height: 360px;
    padding: 28px 0;
  }
}
.con-5 .box-wrap .box:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  transform: rotate(1deg);
}
.con-5 .box-wrap .box.on {
  background-color: #fff;
}
.con-5 .box-wrap .box.on .tx-1 span:nth-child(1) {
  display: none;
}
.con-5 .box-wrap .box.on .tx-1 span:nth-child(2) {
  display: block;
}
.con-5 .box-wrap .box.on .tx-1,
.con-5 .box-wrap .box.on .tx-2 {
  color: #4f270e;
}
.con-5 .box-wrap .box.on .tx-3 {
  display: block;
}
.con-5 .box-wrap .box.on .btn {
  background-image: url(../assets/icon_btn_close.svg);
}
.con-5 .box-wrap .box .tx-1 {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  text-transform: lowercase;
}
@media (max-width: 1440px) {
  .con-5 .box-wrap .box .tx-1 {
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    text-transform: lowercase;
  }
}
.con-5 .box-wrap .box .tx-1 span:nth-child(1) {
  display: block;
}
.con-5 .box-wrap .box .tx-1 span:nth-child(2) {
  display: none;
}
.con-5 .box-wrap .box .tx-2 {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 41.6px */
  text-transform: lowercase;
}
@media (max-width: 1440px) {
  .con-5 .box-wrap .box .tx-2 {
    text-align: center;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%; /* 33.28px */
    text-transform: lowercase;
  }
}
.con-5 .box-wrap .box .tx-3 {
  display: none;
  margin-top: 24px;
  color: #4f270e;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
@media (max-width: 1440px) {
  .con-5 .box-wrap .box .tx-3 {
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 148%; /* 23.68px */
  }
}
.con-5 .box-wrap .box .btn {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-image: url(../assets/icon_btn_addsvg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .con-5 .box-wrap .box .btn {
    width: 50px;
    height: 50px;
  }
}

.con-7 {
  padding-top: 265px;
  padding-bottom: 140px;
}
@media (max-width: 1440px) {
  .con-7 {
    padding-top: 240px;
  }
}
.con-7 .img {
  width: 915px;
  margin: 0 auto;
}
.con-7 .box-wrap {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-top: 220px;
}
@media (max-width: 1440px) {
  .con-7 .box-wrap {
    margin-top: 130px;
    gap: 16px;
  }
}
.con-7 .box-wrap .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 740px;
  padding: 34px 0 36px;
  border-radius: 16px;
  background: #ffdb52;
}
@media (max-width: 1440px) {
  .con-7 .box-wrap .box {
    width: 542px;
    padding-bottom: 80px;
  }
}
.con-7 .box-wrap .box:nth-child(2) {
  background: #005d00;
}
.con-7 .box-wrap .box:nth-child(2) .tx-1 {
  color: #000;
  background: #ffdb52;
}
.con-7 .box-wrap .box:nth-child(2) .tx-2 span {
  color: #fff;
}
.con-7 .box-wrap .box .tx-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  padding: 0 26px;
  border-radius: 100px;
  background: #005d00;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
  text-transform: uppercase;
}
.con-7 .box-wrap .box .tx-2 {
  display: flex;
  gap: 28px;
  margin-top: 1px;
}
@media (max-width: 1440px) {
  .con-7 .box-wrap .box .tx-2 {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
}
.con-7 .box-wrap .box .tx-2 span {
  color: #2d1c11;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%; /* 50.4px */
  text-transform: lowercase;
}

.con-8 {
  padding: 70px 60px 200px;
  transition: all 2s;
}
.con-8.on {
  background: #ffdb52;
}
@media (max-width: 1440px) {
  .con-8 {
    padding-top: 120px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.con-8 .top {
  display: flex;
}
.con-8 .top .tx-1 {
  width: 50%;
}
@media (max-width: 1440px) {
  .con-8 .top .tx-1 {
    width: 340px;
  }
}
.con-8 .top .tx-1 span:nth-child(1) {
  color: #2d1c11;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.con-8 .top .tx-1 span:nth-child(2) {
  color: #2d1c11;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 66px */
  letter-spacing: -0.6px;
  text-transform: lowercase;
}
.con-8 .top .tx-2 {
  color: #2d1c11;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 148%; /* 26.64px */
  letter-spacing: -0.3px;
  opacity: 0.7;
}
.con-8 .img-1 {
  width: 1227px;
  margin: 150px auto 0;
}
@media (max-width: 1440px) {
  .con-8 .img-1 {
    width: 1000px;
    margin-top: 140px;
  }
}
.con-8 .img-1:hover {
  transform: rotate(1deg);
}
.con-8 .img-2 {
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 1440px) {
  .con-8 .img-2 {
    margin-top: 150px;
  }
}
.con-8 .img-3 {
  width: 1230px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .con-8 .img-3 {
    width: 923px;
  }
}
.con-8 .img-3:hover {
  transform: rotate(1deg);
}
.con-8 .img-4 {
  position: relative;
  margin-top: 120px;
}
.con-8 .img-4 .only-tablet {
  display: none;
}
@media (max-width: 1440px) {
  .con-8 .img-4 .only-pc {
    display: none;
  }
  .con-8 .img-4 .only-tablet {
    display: block;
    width: 1100px;
    margin: 0 auto;
  }
}
.con-8 .img-4 .img-5 {
  position: absolute;
  bottom: -100px;
  right: -60px;
  width: 308px;
  transition: all 0.3s;
}
.con-8 .img-4 .img-5:hover {
  transform: rotate(1deg);
}
@media (max-width: 1440px) {
  .con-8 .img-4 .img-5 {
    right: 80px;
    bottom: -40px;
  }
}
.con-8 .img-4 .img-6 {
  position: absolute;
  bottom: -80px;
  left: 80px;
  width: 172px;
}
.con-8 .img-4 .img-6:hover {
  transform: rotate(1deg);
}
@media (max-width: 1440px) {
  .con-8 .img-4 .img-6 {
    bottom: -30px;
    left: 140px;
  }
}

.con-9 {
  margin-bottom: -400px;
  padding-top: 180px;
}
@media (max-width: 1440px) {
  .con-9 {
    padding-top: 160px;
  }
}
.con-9 .top {
  text-align: center;
}
.con-9 .top .tx-1 {
  color: #2d1c11;
  text-align: center;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 66px */
  letter-spacing: -0.6px;
  text-transform: lowercase;
}
.con-9 .top .tx-2 {
  margin-top: 30px;
  color: #2d1c11;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 148%; /* 26.64px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
}
.con-9 .img {
  position: relative;
  z-index: 1;
  width: 1282px;
  margin: 70px auto 0;
}
.con-9 .img .only-tablet {
  display: none;
}
@media (max-width: 1440px) {
  .con-9 .img {
    width: 1020px;
    margin-top: 40px;
  }
  .con-9 .img .only-pc {
    display: none;
  }
  .con-9 .img .only-tablet {
    display: block;
  }
}

.con-10 {
  position: relative;
  padding-top: 400px;
  background: #005d00;
  transition: all 2s;
}
.con-10 .bg-1 {
  position: absolute;
  top: 270px;
  left: 0;
  width: 326px;
}
@media (max-width: 1440px) {
  .con-10 .bg-1 {
    width: 245px;
  }
}

.con-11 {
  display: flex;
}
.con-11 .img {
  width: 50%;
  overflow: hidden;
}

.con-12 {
  padding: 60px;
  padding-bottom: 130px;
}
.con-12 .top {
  display: flex;
  margin-bottom: 240px;
}
@media (max-width: 1440px) {
  .con-12 .top {
    margin-bottom: 140px;
  }
}
.con-12 .top .tx-1 {
  width: 50%;
  color: #2d1c11;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 66px */
  letter-spacing: -0.6px;
  text-transform: lowercase;
}
.con-12 .top .tx-2 {
  color: #2d1c11;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 148%; /* 26.64px */
  letter-spacing: -0.3px;
  text-transform: lowercase;
  opacity: 0.7;
}
.con-12 .swiper {
  overflow: visible;
}
.con-12 .swiper-slide {
  width: 600px;
}
.con-12 .swiper-slide img {
  cursor: pointer;
}
.con-12 .swiper-button-wrapper {
  display: flex;
  gap: 50px;
  margin-bottom: 35px;
}
.con-12 .swiper-button-next,
.con-12 .swiper-button-prev {
  position: relative;
  inset: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.con-12 .swiper-button-prev {
  background-image: url(../assets/icon_arrow_left.svg);
}
.con-12 .swiper-button-next {
  background-image: url(../assets/icon_arrow_right.svg);
}
.con-12 .swiper-button-next:after,
.con-12 .swiper-button-prev:after {
  display: none;
}

.con-13 {
  padding-top: 80px;
  padding-bottom: 110px;
  text-align: center;
}
.con-13 .tx-1 {
  margin-bottom: 60px;
  color: #222;
  text-align: center;
  font-family: SUIT;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
  text-transform: capitalize;
}
.con-13 .tx-1 span {
  color: #ffb100;
}
.con-13 .tx-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #222;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  opacity: 0.6;
}
.con-13 .tx-2 a {
  text-decoration: underline;
}
.con-13 .tx-3 {
  margin-top: 100px;
  color: #222;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  opacity: 0.3;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 1;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .img {
  position: relative;
}
.modal .btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal img {
  max-width: 960px;
  display: block;
}/*# sourceMappingURL=style.css.map */